<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB/INF/faces-config.xml,/WEB-INF/navigation.xml,/WEB-INF/managed-beans.xml</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
       <param-name>edu.harvard.hmdc.export</param-name>
        <param-value>false</param-value>        
    </context-param>
    <listener>
        <listener-class>edu.harvard.hmdc.vdcnet.util.VDCContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>UploadFilter</filter-name>
        <filter-class>com.sun.rave.web.ui.util.UploadFilter</filter-class>
        <init-param>
            <description>The maximum allowed upload size in bytes.  If this is set
                to a negative value, there is no maximum.  The default
            value is 1000000.</description>
            <param-name>maxSize</param-name>
            <param-value>1000000000</param-value>
        </init-param>
        <init-param>
            <description>The size (in bytes) of an uploaded file which, if it is
                exceeded, will cause the file to be written directly to
                disk instead of stored in memory.  Files smaller than or
                equal to this size will be stored in memory.  The default
            value is 4096.</description>
            <param-name>sizeThreshold</param-name>
            <param-value>4096</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>edu.harvard.hmdc.vdcnet.web.servlet.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>edu.harvard.hmdc.vdcnet.util.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
   <filter>
        <filter-name>TermsOfUseFilter</filter-name>
        <filter-class>edu.harvard.hmdc.vdcnet.web.servlet.TermsOfUseFilter</filter-class>
    </filter>
    
    
    <filter-mapping>
        <filter-name>UploadFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TermsOfUseFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TermsOfUseFilter</filter-name>
        <servlet-name>FileDownloadServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.VDCFacesServlet</servlet-class>
        <init-param>
          <param-name>errorPage</param-name>
          <param-value>/ExceptionHandler</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Default Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tiles Servlet</servlet-name>
        <servlet-class>org.apache.tiles.servlets.TilesServlet</servlet-class>
        <init-param>
            <param-name>definitions-config</param-name>
            <param-value>/WEB-INF/tiles.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ErrorPageServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.ErrorPageServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ThemeServlet</servlet-name>
        <servlet-class>com.sun.rave.web.ui.theme.ThemeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownloadServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDCServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.VDCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DDIExportServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.DDIExportServlet</servlet-class>
    </servlet>
     <!-- Common Gateway Includes (CGI) processing servlet, which supports     -->
  <!-- execution of external applications that conform to the CGI spec      -->
  <!-- requirements.  Typically, this servlet is mapped to the URL pattern  -->
  <!-- "/cgi-bin/*", which means that any CGI applications that are         -->
  <!-- executed must be present within the web application.  This servlet   -->
  <!-- supports the following initialization parameters (default values     -->
  <!-- are in square brackets):                                             -->
  <!--                                                                      -->
  <!--   cgiPathPrefix        The CGI search path will start at             -->
  <!--                        webAppRootDir + File.separator + this prefix. -->
  <!--                        [WEB-INF/cgi]                                 -->
  <!--                                                                      -->
  <!--   debug                Debugging detail level for messages logged    -->
  <!--                        by this servlet.  [0]                         -->
  <!--                                                                      -->
  <!--   executable           Name of the exectuable used to run the        -->
  <!--                        script. [perl]                                -->
  <!--                                                                      -->
  <!--   parameterEncoding    Name of parameter encoding to be used with    -->
  <!--                        CGI servlet.                                  -->
  <!--                        [System.getProperty("file.encoding","UTF-8")] -->
  <!--                                                                      -->
  <!--   passShellEnvironment Should the shell environment variables (if    -->
  <!--                        any) be passed to the CGI script? [false]     -->
  <!--                                                                      -->
 
    <servlet>
        <servlet-name>cgi</servlet-name>
        <servlet-class>org.apache.catalina.servlets.CGIServlet</servlet-class>
        <init-param>
          <param-name>debug</param-name>
          <param-value>0</param-value>
        </init-param>
        <init-param>
          <param-name>cgiPathPrefix</param-name>
          <param-value>cgi</param-value>
        </init-param>
         <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>VDCIndexServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.VDCIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDCHandleRegistrationServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.VDCHandleRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OAIHandler</servlet-name>
        <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
        <init-param>
          <param-name>properties</param-name>
          <param-value>oaicat.properties</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
       <servlet-name>cgi</servlet-name>
       <url-pattern>/cgi-bin/*</url-pattern>
    </servlet-mapping>
    <!-- end cgi servlet defs -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPageServlet</servlet-name>
        <url-pattern>/ExceptionHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemeServlet</servlet-name>
        <url-pattern>/theme/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/FileDownload/*</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>VDCServlet</servlet-name>
        <url-pattern>/dv/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DDIExportServlet</servlet-name>
        <url-pattern>/ddi/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDCIndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAIHandler</servlet-name>
        <url-pattern>/OAIHandler</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>faces/HomePage.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jspf</url-pattern>
            <is-xml>true</is-xml>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>VDCImportServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.VDCImportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VDCImportServlet</servlet-name>
        <url-pattern>/import/*</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>VDCExportServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.VDCExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VDCExportServlet</servlet-name>
        <url-pattern>/export/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDCHandleRegistrationServlet</servlet-name>
        <url-pattern>/handleregistration/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudyGlobalIdServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.StudyGlobalIdServlet</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>StudyGlobalIdServlet</servlet-name>
        <url-pattern>/study</url-pattern>
    </servlet-mapping>  
    <servlet>
        <servlet-name>VDCAdminServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.VDCAdminServlet</servlet-class>
    </servlet>     
    <servlet-mapping>
    <servlet-name>VDCAdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>VDCIngestServlet</servlet-name>
        <servlet-class>edu.harvard.hmdc.vdcnet.web.servlet.VDCIngestServlet</servlet-class>
    </servlet>     
    <servlet-mapping>
    <servlet-name>VDCIngestServlet</servlet-name>
        <url-pattern>/ingest</url-pattern>
    </servlet-mapping>       
</web-app>
