/* DVN SPECIFIC STYLE CLASSES */

/* MAIN LAYOUT */
.dvn_wrapper {
    min-width: 700px;
}

.dvn_content {
    padding: 0 12px 12px 12px;
    color: #464646;
    text-align: left;
}

.dvn_content div, .dvn_content span, .dvn_content p, .dvn_content li, 
.dvn_content table, .dvn_content caption, .dvn_content tbody, .dvn_content tfoot, .dvn_content thead, .dvn_content tr, .dvn_content th, .dvn_content td {
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 18px !important;
}

.dvn_content a, .dvn_content a:link, .dvn_content a:visited, .dvn_content a:hover, .dvn_content a:active {
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 18px !important;
}

.dvn_content a:link, .dvn_content a:visited {
        color: #093c80;
        text-decoration: none !important;
}
 .dvn_content a:hover, .dvn_content a:active {
        color: #c55b28;
        text-decoration: underline !important;
}

.dvn_content img {margin: 0 !important; padding: 0 !important; border: 0 !important; display: inline !important;}
.dvn_content textarea {width: 40em;}

.dvn_floatL {
	float: left;
}
.dvn_floatR {
	float: right;
}
.dvn_overflow{
  overflow: hidden;
}

/* GENERAL CONTENT */
.dvn_hmpgMainMessage {margin-bottom: 1em;}

.dvn_section {margin: 1em 0; width: 100%; text-align: left;}

.dvn_sectionContent {
	display: inline;
        width: 75%;
	float: left;
}

div.dvn_sectionTitle {margin: 0; padding: 0 .65em .25em .65em; font-size: 112% !important; color: #526f76; text-transform: uppercase; text-align: left;}
div.dvn_sectionTitle a {font-size: inherit !important; font-size: 100% !important;}
div.dvn_sectionTitle a:hover, div.dvn_sectionTitle a:active {font-size: inherit !important; font-size: 100% !important; color: #526f76; text-decoration: none !important; cursor: text;}
span.dvn_sectionTitleL {float: left; padding: 0 0 0.25em 0; color: #526f76; font-size: 112% !important; font-weight: bold; text-transform: uppercase; text-align: left;}
span.dvn_sectionTitleR  {float: right; padding: 0 0 0.25em 0; }
span.dvn_sectionTitleR a:link, span.dvn_sectionTitleR a:visited, span.dvn_sectionTitleR a:hover, span.dvn_sectionTitleR a:active {margin-left: 2em;}

span.dvn_sectionTitleLinksL {float: left;}
span.dvn_sectionTitleLinksR  {float: right;}
span.dvn_sectionTitleLinksR a:link, span.dvn_sectionTitleLinksR a:visited, span.dvn_sectionTitleLinksR a:hover, span.dvn_sectionTitleLinksR a:active {margin-left: 2em;}

.dvn_sectionBox {width: 100%; border-top: 2px solid #91a5a9; border-left: 1px solid #ccc; }
.dvn_sectionBoxNoBorders{width: 100%; padding-top: .75em; clear: both;} 

div.dvn_block {margin-bottom: 12px; padding: 6px; background: url(images/blocks_bg.png) no-repeat #f8f8f8; border: 1px solid #e9e5e5;}
div.dvn_block span {margin: 0; padding: 0; color: #526f76; font-weight: bold; text-transform: uppercase;}
div.dvn_blockTitleBar {margin-bottom: 12px; padding: 6px; background: #e6ebed; border: 1px solid #ddd; font-style: italic; text-align: center;}

.dvn_margin12 {
   margin: 1em 0em 0em 1em; padding-bottom: 2em;
   line-height: inherit ;
}

.Tree {
    background: none !important;
}
.Tree .float {
    float: left;
}

span.disabled {font-weight: bold;}

/* MAIN SECTION */
#dvn_mainSection {position: relative; width: 100%;}
#dvn_mainSectionTitle {padding: .25em 0; color: #526f76; font-size: 124% !important; text-transform: uppercase;}

/* SIDE SECTION PANELS */
.dvn_sectionPanels {display: inline; margin-left: 2%; width: 22%; float: left;} 
.dvn_sectionPanelTitle {padding: .25em 0; border-bottom: 2px solid #91a5a9; color: #555; font-weight: bold;} 
.dvn_sectionPanels div.dvn_sectionPanelText {margin-bottom: 1em; padding: .5em; } 
.dvn_sectionPanels ul {margin-left: 2em; list-style-image: url(icon_bullet.gif);}
.dvn_sectionPanels li {margin: 0.5em 0;}

.dvn_sectionPanels .TreeContent a {font-size: 90% !important;}

/* HEADER */
.dvn_headerTitle {position: relative;}
.dvn_headerTitleLarge {margin: .25em 12px;}
.dvn_headerTitleLarge a:link, .dvn_headerTitleLarge a:visited, .dvn_headerTitleLarge a:hover, .dvn_headerTitleLarge a:active {color: #526f76; font-size: 148% !important;}
a.dvn_headerTitleLrgNetwork:link, a.dvn_headerTitleLrgNetwork:visited, a.dvn_headerTitleLrgNetwork:hover, a.dvn_headerTitleLrgNetwork:active {color: #c55b28;}
.dvn_headerTitleL {margin: 0 12px;}
.dvn_headerTitleL a:link, .dvn_headerTitleL a:visited, .dvn_headerTitleL a:hover, .dvn_headerTitleL a:active {color: #c55b28; font-size: 90% !important;}
.dvn_headerTitleR {position: absolute; right: 12px; top: 0;}

/* NAV MENU */
div.dvn_navblock {margin-bottom: 12px; padding: 0 10px 0 10px; background: #dadee0; border-top: 2px solid #91a5a9;}
div.dvn_navblockNetwork {background: #dadee0; border-top: 2px solid #c55b28;}
.dvn_navblockLinks {white-space:nowrap /*IE hack*/; border:none;} /*Color navigation bar normal mode*/
.dvn_navblockLinks:after {content:"."; display:block; height:0; clear:both; visibility:hidden;} /*Clear floats*/
.dvn_navblockLinks ul {margin: 0; padding: 0; list-style-type:none;}
.dvn_navblockLinks ul li {float:left; z-index:auto !important /*Non-IE6*/; z-index:1000 /*IE6*/;}
.dvn_navblockLinks ul li a:link, .dvn_navblockLinks ul li a:visited, .dvn_navblockLinks ul li a:hover, .dvn_navblockLinks ul li a:active {float:none !important /*Non-IE6*/; float:left /*IE-6*/; display:block; height:1.75em; line-height:1.75em; padding:.1em .5em 0 .5em; text-decoration:none;}
.dvn_navblockLinks ul li:hover {position:relative;} /*Sylvain IE hack*/
.dvn_navblockLinks ul li:hover a:link, .dvn_navblockLinks ul li:hover a:visited, .dvn_navblockLinks ul li:hover a:hover, .dvn_navblockLinks ul li:hover a:active {background-color: #c55b28; text-decoration:underline;} /*Color main cells hovering mode*/
.dvn_navblockLinks ul li a:hover {position:relative /*Sylvain IE hack*/; z-index:1000 /*Sylvain IE hack*/; background-color: #c55b28; color: #fff; text-decoration:underline;} /*Color main cells hovering mode*/

.dvn_navUserName {float: right;}
.dvn_navUserName div {float:left; z-index:auto !important /*Non-IE6*/; z-index:1000 /*IE6*/;}
.dvn_navUserName div.textUserName  {height:1.75em; line-height:1.75em; padding:.1em .5em 0 .5em;}
.dvn_navUserName div a:link, .dvn_navUserName div a:visited, .dvn_navUserName div a:hover, .dvn_navUserName div a:active {float:none !important /*Non-IE6*/; float:left /*IE-6*/; display:block; height:1.75em; line-height:1.75em; padding:.1em .5em 0 .5em; color:#c55b28; text-decoration:none;}
.dvn_navUserName div:hover {position:relative;} /*Sylvain IE hack*/
.dvn_navUserName div:hover a:link, .dvn_navUserName div:hover a:visited, .dvn_navUserName div:hover a:hover, .dvn_navUserName div:hover a:active {background-color: #c55b28; text-decoration:underline;} /*Color main cells hovering mode*/
.dvn_navUserName div a:hover {position:relative /*Sylvain IE hack*/; z-index:1000 /*Sylvain IE hack*/; background-color: #c55b28; color: #fff; text-decoration:underline;} /*Color main cells hovering mode*/

.dvn_navUserOptions {font-weight:bold;}

.dvn_navUserName a:hover {position:relative /*Sylvain IE hack*/; z-index:1000 /*Sylvain IE hack*/; background-color: #c55b28; color: #fff; text-decoration:underline;} /*Color main cells hovering mode*/

.dvn_navNetworkName a:link, .dvn_navNetworkName a:visited, .dvn_navNetworkName a:hover, .dvn_navNetworkName a:active {font-weight: normal;}

/* SEARCH */
div.dvn_searchblock {margin-bottom: 12px; padding: 4px 12px 4px 12px; background: #e6ebed; border: 1px solid #ddd;}
.dvn_searchBoxContent {overflow: hidden;}
.dvn_searchTitle {float: left; margin-right: 12px; color: #526f76; font-size: 124% !important; line-height: 155% !important;}
.dvn_searchTitle a {color: #526f76; font-size: 124% !important; line-height: 155% !important;}
.dvn_searchTitle a:hover, .dvn_searchTitle a:active {color: #526f76; font-size: 124% !important; line-height: 155% !important; text-decoration: none !important; cursor: text;}
.dvn_searchBoxContent fieldset {float: left;}
.dvn_searchLinks {float: right;}
.dvn_searchLinks a:link, .dvn_searchLinks a:visited, .dvn_searchLinks a:hover, .dvn_searchLinks a:active {margin-left: 2em; line-height: 224% !important;}
.dvn_searchBoxContent {position: relative; width: 100%;}
.dvn_searchBoxContent fieldset {margin: 0; padding: 0; border: 0;}
.dvn_searchBoxContent label {float: left;}
.dvn_searchBoxContent span {margin-right: 12px; line-height: 224% !important;}
.dvn_searchBoxContent input, .dvn_searchBoxContent select {margin: 2px 6px 2px 0;}

/* MAIN SECTION: DATAVERSE LIST + STUDIES TREE */
#dvn_hmpgMainSection {position: relative;}
#dvn_MainSectionCount {position: absolute; top: 0; right: 0;}

/* ANALYSIS PAGE */
.dvn_preFileTitle{ font-weight: bold; font-style: normal; color: #000;}
.dvn_fileTitle{ font-weight: normal; font-style: normal; color: #000;}

/* GENERAL DEFAULT THEME STYLES (from Creator) */
/* Style rules to make data tables look better */

.list-header {
   font-weight: bold
}
.list-header-left {
   background-color: #dadee0;
   font-weight: bold;
   text-align: left
}
.list-paging-header {
  background-color: white;
}

.list-paging-footer {
  background-color: white;
}

.list-row-even { 
}

.list-row-odd { 
  background-color: #eeeeee;
}

/* Style rules for message severity levels */

.infoMessage {
  color: black;
}

.successMessage {
   background: #f4ebc7;
   color: #c55b28;
   display: block;
   font-weight: bold;
   padding: 0.75em;
   text-align: center;
   width: 50%;
   margin: 0 auto 12px auto;
}

.successMessage a:link, .successMessage a:visited, .successMessage a:hover, .successMessage a:active {
    color: blue;
}

ul.successMessage, .successMessage ul {
    list-style: none;
}

.warnMessage {
   color: #8B0404;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.fatalMessage {
  color: red;
  font-style: italic;
  font-weight: bold;
}
/* GENERAL STYLES*/

.dvn_more{
  font-style: italic;
  color: #6D0609;
}
a.dvn_more:link, a.dvn_more:visited, a.dvn_more:hover, a.dvn_more:active{
  color: #6D0609;
 }

.dvn_threedots{
    color: #666;
}
.formHtmlEnabled {
    background-color: #E4F9F9;
}

.formDateFormat {
    background-color: #F9E0BD;
}

.vdcTextWrap{
    white-space: normal;
}
.vdcTextNoWrap{
    white-space: nowrap;
}
.vdcTextStandOut{
   color: #820024;
   font-weight: bold;
}

.vdcHelpText{
    font: 70%;
    color: #666666;
    line-height: 140%;
}

/* start inline help support */
.vdcInlineHelp {
    position: absolute;
    display:block;
    width: 300px;
    background-image: url(tooltipcallout.gif);
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    z-Index:500;
}

.vdcInlineHelpLink {
    color: #006699;
    text-decoration: none;
}

.vdcInlineHelpContents {
    height: 100%;
    background-color: #dadee0;
    margin-top: 5px;
    padding: 3px 3px 3px 10px;
    margin-bottom: 0px;
    display: block;
    text-align:left;
    color: #000000;
    font-weight: normal;
}

.vdcInlineHelpWrapper {
    border-left: 1px solid #cccccc; 
    border-right: 1px solid #cccccc; 
    border-bottom: 1px solid #cccccc;
    background-image: url(solidrectangle.gif);
    font-weight: 800;
}
/* end inline help support */

/* start tooltip component support */
.vdcTooltip {
    position: absolute;
    width: 250px;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    z-Index: 500;
}

.vdcTooltipLink {
    margin-left:15px;
    margin-right:15px;
    color: #006699;
    text-decoration: none;
}

.vdcTooltipContents {
    display: block;
    height: 100%;
    border:1px solid #cccccc;
    background-color: #ffffcc;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 3px 3px 3px 10px;
    text-align:left;
    color: #000000;
}

.vdcTooltipWrapper {
    /*border-left: 1px solid #cccccc; 
    border-right: 1px solid #cccccc; 
    border-bottom: 1px solid #cccccc;
    background-color:#ffffcc;*/
    font-weight: 800;
}
/* end tooltip support */

/* start popup component support */
.vdcPopup {
    position: absolute;
    width: 400px;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    z-Index: 1000;
}

.vdcPopupLink {
    color: #006699;
    text-decoration: none;
}

.vdcPopupContents {
    display: block;
    height: 100%;
    border:1px solid #cccccc;
    background-color: #ffffcc;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 3px 3px 3px 10px;
    text-align:left;
    color: #000000;
}

.vdcPopupWrapper {
    /*border-left: 1px solid #cccccc; 
    border-right: 1px solid #cccccc; 
    border-bottom: 1px solid #cccccc;
    background-color:#ffffcc;*/
    font-weight: 800;
}
/* end popup support */

.vdcNoBorders{
   border-bottom-style: none;
   border-left-style: none;
   border-right-style: none;
   border-top-style: none
}

.vdcSubHeader{
   font-weight: bold;
}
.vdcSubHeaderColor{
   color: #0b3b6b;
   font-weight: bold;
}

.vdcFieldTitle{
   font-weight: bold
}
.vdcTextRight{
   padding-right: 4px;
   text-align: right;
}

.vdcColPadded{
   padding-bottom: 3px;
   padding-left: 4px;
   padding-top: 3px;
   text-align: left;
   vertical-align: top;
}

.vdcSmallButton{
   color: #000099;
   height: 20px
}

.vdcTextLarger{ }

.vdcSpace{
    margin-left: 20px; 
}

a.vdcSiteMapLink:link, a.vdcSiteMapLink:visited, a.vdcSiteMapLink:hover, a.vdcSiteMapLink:active  {
  text-decoration: underline;
}

/* VDC Search Results Style rules 
*/
.dvn_SResultsGlobalId{
  color : #666;
}

.vdcSResultsPageN {
   border-right-style: solid;
   border-right-color: black;
   border-right-width: 1px;
   padding-left: 2px;
   padding-right: 4px
}

.vdcSResultsPageNLast {
   padding-left: 2px;
   padding-right: 4px
}

.vdcSResultsTop{
   padding: 0;
}

span.vdcSResultsField {
   font-weight: bold;   
}

.vdcSResultsCol1{
   background-color:inherit !important;
   width: 50%
}

.vdcSResultsCol2{
   background-color:inherit !important;
   text-align: right;
   width: 50%
}

.vdcSResultsList{
   background-color:inherit !important;
   padding-top: 10px;
   padding-bottom: 10px;
}

/* Style rules for Study Page (Cataloging Info and Files)
*/

.vdcStudyStatus {
   font-weight: bold;
   color: black;
   font-style: italic;
   color: #8B0404;
}

.vdcStudyInfoHeader {
   background-color: #dadee0;
   font-weight: bold;
   text-align: center;
   padding-top: 3px;
   padding-bottom: 3px;
   margin-top: -1px;
   margin-bottom: 4px;
   width: 100%;
}

.vdcStudyInfoCol1 {
   border-bottom-color: #dadee0;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   /* font-weight: bold; */
   padding-bottom: 5px;
   padding-left: 0px;
   padding-right: 10px;
   padding-top: 5px;
   text-align: left;
   width: 200px;
}
.vdcStudyInfoCol2 {
   border-bottom-color: #dadee0;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   font-weight: normal;
   padding-bottom: 5px;
   padding-top: 5px;
   text-align: left;
}

.vdcStudyInfoDownload {
   font-weight: bold;
   padding-top: 10px;
   text-align: center
}

.vdcStudyFilesCat {
   background-color: #d2d2d2;
   border-bottom-color: #ffffff;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   padding-bottom: 2px;
   padding-left: 4px;
   padding-top: 2px;
   text-align: left
}

.vdcStudyFilesCatLabel {
   font-weight: bold;
   padding-left: 8px;
   padding-right: 8px;
}
.vdcStudyFilesHead1{
   white-space: nowrap;
   width: 150px;
   font-weight: bold;
   font-style: italic;
  background-color : #b2b2b2;
  text-align: center;  
}
.vdcStudyFilesHead2{ 
   white-space: nowrap; 
   font-weight: bold;
   font-style : italic;
  background-color : #b2b2b2;
  text-align: center;  
}
.vdcStudyFilesHead3{
   white-space: nowrap;  
   width: 120px;
   font-weight: bold;
   font-style : italic;
  background-color : #b2b2b2;
  text-align: center;  
}
.vdcStudyFilesHead4{
   white-space: nowrap;  
   width: 30px;
   font-weight: bold;
   font-style : italic;
  background-color : #b2b2b2;
  text-align: center;  
}
.vdcStudyFilesHead5{
   white-space: nowrap;  
   width: 30px;
   font-weight: bold;
   font-style : italic;
  background-color : #b2b2b2;
  text-align: center;  
}
.vdcStudyFilesHead6{
   white-space: nowrap;  
   width: 90px;
   font-weight: bold;
   font-style : italic;
  background-color : #b2b2b2;
  text-align: center;  
}

.vdcStudyFilesCol1{
   white-space: normal;
   width: 150px;
   border-color: #dadee0;
   border-style: solid;
   border-width: 1px;
   padding-right: 2px;
   padding-left: 2px; 
}
.vdcStudyFilesCol2{
   white-space: normal; 
   border-color: #dadee0;
   border-style: solid;
   border-width: 1px;
   padding-right: 2px;
   padding-left: 2px; 
}
.vdcStudyFilesCol3{
   white-space: normal;  
   width: 130px;
   border-color: #dadee0;
   border-style: solid;
   border-width: 1px;
   padding-right: 2px;
   padding-left: 2px; 
}
.vdcStudyFilesCol4{
   white-space: normal;  
   width: 30px;
   border-color: #dadee0;
   border-style: solid;
   border-width: 1px;
   padding-right: 2px;
   padding-left: 2px; 
}
.vdcStudyFilesCol5{
   white-space: normal;  
   width: 30px;
   border-color: #dadee0;
   border-style: solid;
   border-width: 1px;
   padding-right: 2px;
   padding-left: 2px;
}
.vdcStudyFilesCol6{
   white-space: normal;  
   width: 90px;
   border-color: #dadee0;
   border-style: solid;
   border-width: 1px;
   padding-left: 4px;  
}

.vdcLegendHeader {padding-top: 15px; font-weight: bold !important; color: #666; font-style: italic;}

.vdcCitationText{
    text-indent: -15px; 
    padding-left: 15px;
}
/* Edit Study/Files style rules
*/
.vdcEditFilesColA{
   width: 25%;
   padding-bottom: 2px;
   padding-left: 1px;
   padding-right: 1px;
   padding-top: 2px;
}

.vdcEditFilesColB{
   width: 35%;
   padding-bottom: 2px;
   padding-left: 1px;
   padding-right: 1px;
   padding-top: 2px;
   white-space: nowrap;
}

.vdcEditFilesColC{
   width: 10%;
   padding-bottom: 2px;
   padding-left: 1px;
   padding-right: 1px;
   padding-top: 2px;
}

.vdcEditFilesHeader{
   background-color: #dadee0;
   font-weight: bold;
   text-align: left
}
.vdcEditStudyCol1 {
   font-weight: normal;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-top: 0px;
   text-align: left;
   vertical-align: top;
   width: 220px;
}
.vdcEditStudyCol1b {
   font-weight: normal;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-top: 0px;
   text-align: left;
   vertical-align: top;
   width: 220px;
}
.vdcEditStudyCol2 {
   font-weight: normal;
   padding-bottom: 0px;
   padding-top: 0px;
   text-align: left;
   vertical-align: middle;
   white-space: normal;
}
.vdcEditStudyCol3{
   font-weight: normal;
   padding-bottom: 0px;
   padding-top: 0px;
   text-align: right;
   width: 50px;
   vertical-align: top;
}
.vdcEditStudyField{
   padding-top: 6px;
   padding-bottom: 6px;
}
.vdcEditStudyGroupField{
    white-space: nowrap;
}

/* Style Rules for Most Pouplar Table
*/

.vdcTableHeaderWhite{
   background-color: white;
   font-weight: bold;
   text-align: center
}

.vdcTableMPopularCol1{
   border-right-color: #cccccc;
   border-right-style: solid;
   border-right-width: 1px;
   padding-bottom: 4px;
   padding-left: 4px;
   padding-right: 2px;
   padding-top: 4px
}

.vdcTableMPopularCol2{
   padding-bottom: 4px;
   padding-left: 4px;
   padding-right: 2px;
   padding-top: 4px;
   width: 30px
}

/* Advanced Search Style Rules
*/
.vdcAdvSearchCol1{
   padding-bottom: 2px;
   padding-left: 10px;
   padding-top: 2px;
   vertical-align: bottom;
}
.vdcAdvSearchCol2{
   padding-bottom: 2px;
   padding-left: 10px;
   padding-top: 2px;
   vertical-align: bottom;
}
.vdcAdvSearchCol3{
   padding-bottom: 2px;
   padding-left: 10px;
   padding-top: 2px;
   vertical-align: bottom;
}
/* Add/Manage Collection Style Rules
*/
.vdcAddCollectionCol1{
   padding-bottom: 4px;
   padding-left: 20px;
   padding-top: 4px;
   width: 250px
}
.vdcAddCollectionCol2{
   padding-bottom: 4px;
   padding-left: 20px;
   padding-top: 4px;
}

/* Add Site Page Style Rules
*/
.vdcAddSiteCol1{
   padding-bottom: 4px;
   padding-top: 4px;
   vertical-align: top;
   white-space: nowrap;
}
.vdcAddSiteCol2{
   padding-bottom: 4px;
   padding-left: 10px;
   padding-top: 4px;
   vertical-align: top;
}

/* Analysis Page Style Rules
*/
.vdcVariablesCol1{
/*   width: 24px;*/
   padding-left: 2px;
   padding-right: 2px;
}
.vdcVariablesCol2{
   padding-left: 2px;
   padding-right: 2px;
/*   width: 100px*/
}
.vdcVariablesCol3{
   padding-left: 2px;
   padding-right: 2px;
/*   width: 50px*/
}
.vdcVariablesCol4{
   padding-left: 2px;
   padding-right: 2px;
/*   width: 100px;*/
}
.vdcVariablesCol5{
   padding-left: 2px;
   padding-right: 2px;
/*   width: 200px;*/
}
.vdcVariablesCol6{
   padding-left: 2px;
   padding-right: 2px;
/*   width: 250px;*/
}

.vdcAnalysisCol1 {
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 4px;
   vertical-align: top;
   width: 200px
}
.vdcAnalysisCol2 {
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 20px;
   text-align: left;
   vertical-align: top
}

.vdcVarSummaryCol1{
   color: #003366;
   font-weight: bold;
   padding-right: 2px;
   width: 50px
}
.vdcVarSummaryCol2{
   padding-right: 2px
}

.vdcAdvAnalysisCol1{
   padding-top: 10px;
   text-align: left;
   vertical-align: top
}
.vdcAdvAnalysisCol2{
   padding-left: 20px;
   padding-top: 10px;
   text-align: left;
   vertical-align: top
}
.vdcVarHeaderCol1{
   background-color: #dadee0;
   padding-bottom: 5px;
   padding-left: 20px;
   padding-top: 10px
}
.vdcVarHeaderCol2{
   background-color: #dadee0;
   padding-bottom: 5px;
   padding-top: 10px;
   padding-right: 4px;
   text-align: right
}

.vdcRecodesColA{
   padding-left: 4px;
   padding-right: 4px;
   width: 20px
}
.vdcRecodesColB{
   padding-left: 4px;
   padding-right: 4px;
}
.vdcRecodesHeader{
   font-weight: bold;
   text-align: center
}

.MnuStdOptGrp {
   color:#000000; 
   background-color:#ffffff;
}

/* Network Homepage Style Rules */
.vdcDataverseGroupLeft{
   padding-bottom: 0px;
   padding-left: 80px;
   padding-right: 20px;
   padding-top: 30px;
   vertical-align: top;
   width: 50%;
}
.vdcDataverseGroupRight{
   padding-bottom: 0px;
   padding-left: 20px;
   padding-right: 80px;
   padding-top: 30px;
   vertical-align: top;
   width: 50%;
}
.vdcDataverseGroupHeader{
   color: #000000;
   font-weight: bold;
   padding-bottom: 4px;
   text-align: left
}
.vdcDataversesTable{
   padding-bottom: 9px;
   padding-left: 50px;
   padding-right: 20px;
   padding-top: 9px;
}

/* Rules for Login Page
*/
.vdcLoginCol1{
   background-color:inherit !important;
   padding-bottom: 6px;
   padding-top: 6px;
   white-space: nowrap;
   vertical-align: top;
}
.vdcLoginCol2{
   background-color:inherit !important;
   padding-bottom: 6px;
   padding-top: 6px; 
   vertical-align: top;
}

/* Rules for paragraphs in abstract
*/
.vdcAbstractSResults{
    padding-top: 3px; 
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
}
.vdcAbstractSResults div, .vdcAbstractSResults p {margin: 0; padding: 0; display: inline;}

.vdcRequestPanelFiles{
    padding: 15px 10px 15px 10px; 
    text-align: center;
    font-weight: normal;
    background-color: #f2ffe6;
    border: 1px solid #a3bfb1; 
}
a.vdcRequestPanelLink:link{
    font-weight: bold;
}
a.vdcRequestPanelLink:visited{
    font-weight: bold;
}
a.vdcRequestPanelLink:hover{
    font-weight: bold;
}
a.vdcRequestPanelLink:active{
    font-weight: bold;
}

/* Scrollable div for terms  of use
*/
.vdcScrollDivTermsUse {
    width: 400px;
    height: 250px;
    overflow: auto;
    background-color: #eeeeee;
    border-color: #CCCCCC #990000 #990000 #CCCCCC;
    border-width: 1px; 
    border-style: solid; 
    padding: 10px;
}
.vdcTermsUseColumn {
    text-align: left;
}

.vdcTermsUseField {
    text-align: left;
    color: #666666;
    font-weight: bold;
}

/* Rules for Studies Review and My Studies pages
*/
.vdcReviewCol1 {
   padding-left: 2px;
   padding-right: 2px;
}
.vdcReviewCol2 {
   padding-left: 2px;
   padding-right: 2px;
   width: 70px;
}
.vdcReviewCol3 {
   padding-left: 2px;
   padding-right: 2px;
   width: 100px;
}
.vdcReviewCol4 {
   padding-left: 2px;
   padding-right: 2px;
   width: 100px;
}
.vdcReviewCol5 {
   padding-left: 2px;
   padding-right: 2px;
   width: 70px;
}
.vdcReviewCol6 {
   padding-left: 2px;
   padding-right: 2px;
   width: 70px;
}

.vdcMyStudiesCol1 {
   padding-left: 2px;
   padding-right: 2px;
   padding-top: 4px;
   padding-bottom: 4px;
}
.vdcMyStudiesCol2 {
   padding-left: 2px;
   padding-right: 2px;
   width: 70px;
   padding-top: 4px;
   padding-bottom: 4px;
}
.vdcMyStudiesCol3 {
   padding-left: 2px;
   padding-right: 2px;
   width: 70px;
  padding-top: 4px;
   padding-bottom: 4px;
}
.vdcMyStudiesCol4 {
   padding-left: 2px;
   padding-right: 2px;
   width: 70px;
   padding-top: 4px;
   padding-bottom: 4px;
}

.vdcTreeDataverse{
    white-space: normal;
}
.vdcTreeDataverse a:link, .vdcTreeDataverse a:visited, .vdcTreeDataverse a:hover, .vdcTreeDataverse a:active{
    font-weight: bold; 
}
.vdcTreeDataverse img{
   display: inline !important;
   vertical-align: text-top;
   padding-bottom : 0.3em;     
}
.vdcTreeCollection{
   white-space: normal;
}
.vdcTreeCollection a:link, .vdcTreeCollection a:visited, .vdcTreeCollection a:hover, .vdcTreeCollection a:active{
   white-space: normal;
}
.vdcTreeCollection img{
   display: inline !important;
   vertical-align: text-top;
   padding-bottom : 0.3em;
}
.vdcTreeStudy{
   white-space: normal;
}

.vdcTreeStudy a:link, .vdcTreeStudy a:visited, .vdcTreeStudy a:hover, .vdcTreeStudy a:active{
   white-space: normal;
}
.vdcTreeStudy img{
   display: inline !important;
   vertical-align: text-top;
   padding-bottom : 0.3em;
}
.TreeContent {
    display: block;
    /* padding: 0.1em; *********************************************************************/
    margin: 0;
}
.TreeImgHeight {line-height: 50.4px !important;}

/* subsetting page: summary statistics: starts here */

	div.statbox{
		/* used in varListBox.js */
		background-color:#e6e6fa;
		padding:3px;
		margin:3px;
		border-style:outset;
		border-width:1px;
		float:right;
	}


	table.viTblinx {
		/* used in varListBox.js */
		border:2px #e6e6fa solid;
		background-color:#f5f5f5;
		color:#000080;
		text-align:left;
		margin:0px;
		padding:0px;
	}
	
	table.viTblinx td {
		/* used in varListBox.js */
		border:0px none #ffffff;
		background-color:#f5f5f5;
		color:#000080; 
		text-align:left;
		margin:0px;
		padding:2px;
	}
	
	table.viTblinx th {
		/* used in varListBox.js */
		background-color:#e6e6fa;
		font-weight:bolder;
		margin:0px;
		padding:2px;
		border:0px none #ffffff;
	}

	table.viTblinx  td.viUNF {
		font-size:6.5pt;
		font-family:monospace;
	}
/* subsetting page: summary statistics: ends here */

/* *************** dvn network homepage page specific ***************** */
.dvn_Totals {position: absolute; top: .75em; right: .75em;}
.dvn_totalsLabel {color: #526f76; font-size: 112%;}
.dvn_totalsValue {color: #c55b28; font-weight: bold;}

.dvnLineSpacer   { visibility:hidden; }
.dvnChildColumn  { width: 25%; vertical-align: top;}
.dvnChildTable { width: 98%; border-collapse: collapse; }
.dvnChildTable ul, .dvnChildTable ol { list-style: none; margin: 0; padding: 0; }
.dvnMainColumn   { width: 100%;}
.dvnMainPanel    {
   background-color: #e6ebed;
   font-weight: bold;
   text-align: center;
   padding-top: 3px;
   padding-bottom: 3px;
   width: 100%;
   display: block;
}

.dvnDisabled {
    color:#cccccc;
}

.dvnLinkWrapper {
    margin-right:15px;
    margin-bottom:25px;
    margin-left:15px;
    
}
.dvnPrevious {
    float:left; text-align:left;
}

.dvnNext {
    float:right; text-align:right;
}

li.activeBullet a {
list-style-type: none; /* removes default bullet */
background: url(icon_activebullet.gif) no-repeat 0 .2em; /* ONE bullet only, .45em from top (vertical) */
padding-left: 1.4em; /* space between bullet and text */
}

li.inActiveBullet a {
list-style-type: none; /* removes default bullet */
background: url(icon_inactivebullet.gif) no-repeat 0 .2em; /* ONE bullet only, .45em from top (vertical) */
padding-left: 1.4em; /* space between bullet and text */
}
/* li.activeBullet {
    list-style-image: url(icon_activebullet.gif);
    padding-left: 2px;
    height: 1.4em;
} */
ul.affiliationBullet {
margin-left: 2.6em;
}
li.affiliationBullet {
    list-style-type: square;
    list-style-image: none;
    color: #999999;
    font-size: 90% !important;
}

/* *************** vanilla pages styles ***************** */
div.ContentArea { margin-top:150px; margin-left:auto; margin-right:auto; width:500px; background: url(custom_corners_topleft.gif) top left no-repeat; text-align: center;}
div.ContentArea p { background: url(custom_corners_topright.gif) top right no-repeat; padding:15px; margin:0; color: #062f58; }
div.ContentArea span.headingText { display:block; width:100%; background-color:#dce6cb; font-weight: bold; text-align: center; padding: 0.25em 0;}
div.ContentAreaBody { background: url(custom_corners_rightborder.gif) top right repeat-y; margin:0; margin-top:-2em; padding:15px;}
div.ContentAreaFooter { background: url(custom_corners_bottomleft.gif) bottom left no-repeat; }
div.ContentAreaFooter p { background: url(custom_corners_bottomright.gif) bottom right no-repeat; display:block; padding:15px; margin:-2em 0 0 0; }

/* *************** NetworkAdmin VDCGroup styles ******************** */
.shadedRow              { background-color:#eeeeee; }
.whiteRow               { background-color:#ffffff; }
#content:vDCGroupPageView:vdcGroupPageForm:VDCGroups:dataTableCaption {font-size:1.2em; }/*overrides the default theme */
.Lst { max-width:700px; overflow:scroll; }

.dvGroupAdminLayout     { margin-left:auto; margin-right:auto; margin-top:25px; border-width:1px 1px 1px 1px; border-style:solid; border-color:silver; }
.dvGroupAdminTable      { width:98%; padding:0px; }
#dvGroupAdminCaption    { border-left:1px solid silver; border-right:1px solid silver; font-size:1.2em; }
.dvGroupAdminFooter     { width:98%; background-color: #d9e7f0; }
.groupAdminHeader       { background-color: #d9e7f0; padding:0 0.3em; }
.groupAdminOrderColumn  { width:5px; border:1px solid silver; text-align:center; }
.groupAdminNameColumn   { width:30%; border:1px solid silver; text-align:left; padding-left: 0.3em; }
.groupAdminDescriptionColumn   { width:60%; border:1px solid silver; text-align:left; }
.groupAdminDeleteColumn { width:5%; border:1px solid silver; text-align:center; }
.groupAdminOrderInput   { text-align:center; }

#dvGroupNoneCaption    { border-left:1px solid silver; border-right:1px solid silver; font-size:1.2em; }
#dataNoneCaption        {font-size:1.2em; }/*overrides the default theme */
.groupAdminNoneColumn   { width:98%; border:1px solid silver; text-align:center; }

.groupAdminOrderFooter  { width:5%; border:0px; text-align:right; padding:0px 6px 0px 0px; }
.groupAdminNameFooter   { width:30%; border:0px; padding-left:5px; text-align:left; text-decoration:underline; color:#006699; }
.groupAdminDescriptionFooter   { width:60%; border:0px; text-align:left; padding:0px 0px 0px 6px; }
.groupAdminDeleteFooter { width:5%; background-color:#d9e7f0; padding:0px; }

.groupEditHeader        { background-color: #d9e7f0; padding:0px; }
.groupEditNameColumn    { width:30%; vertical-align:top; border:1px solid silver; text-align:left; }
.groupEditDescriptionColumn   { width:70%; border:1px solid silver; text-align:left; }
.groupEditFooter        { width:98%; background-color:#d9e7f0; padding:0px; text-align:right;  }

/**** Login ****/
#loginPageWrap {margin-top: 10%; width: 98%; text-align: center;}
p#loginPageHeader span.headingText {font-size: 160% !important; color: #c55b28 !important; background: #dadee0 !important; font-weight: normal; text-transform: uppercase;}
.loginPageSubHeader {color: #526f76; font-size: 160% !important; text-transform: uppercase;}
div.ContentAreaFooter img {margin: 0.25em 0;}
div.ContentArea {margin: 0 auto; padding: 0;}

table#loginBlock {width: 300px; line-height: 2.5; font:90%/180% "HelveticaNeue",Helvetica,Arial,sans-serif;}
table#loginBlock td {padding: 2px;}
span.loginHeader {color: #c55b28; font-size: 112%; line-height: 2;}
table#loginBlock label {color: #526f76;}
table#loginBlock select {margin: 0;}
table#loginBlock img {margin: 1em 0 0 0;}

/**** Create a Dataverse ****/
.requestHmpgSide {position: absolute; top: 0; right: 0; margin-bottom: 18px;}
a.requestHmpgSideLink:link, a.requestHmpgSideLink:visited, a.requestHmpgSideLink:hover, a.requestHmpgSideLink:active {padding-right: 28px; color: #c55b28; background: url(start-arrows.gif) 100% 52% no-repeat; font-size: 95%; text-decoration: none;} 
.dvn_createDvRequest {text-align: center;}
.dvn_createDvRequest .requestHeader {margin-left: auto; margin-right: auto; width: 770px; color: #c55b28; font-size: 160% !important; text-transform: uppercase; text-align: left;}
.dvn_createDvRequest .requestHeader .requestContentTitle {float: left; width: 330px; padding: 0 0 6px 0; color: #c55b28; font-size: 100% !important; font-weight: normal; text-transform: uppercase;}
.dvn_createDvRequest .requestHeader span {color: #ccc; font-size: 100% !important;}
.dvn_createDvRequest .requestContentDescRight {float: left; width: 400px; padding: 0 10px 6px 10px; border-left: 1px solid #ccc; color: #555; text-transform: none; text-align: left;}
.dvn_createDvRequest .requestIntroSteps {margin-top: 30px; margin-left: auto; margin-right: auto; width: 770px;}
.dvn_createDvRequest .requestIntroStepsContributor {margin-top: 30px; margin-left: auto; margin-right: auto; width: 573px;}
.dvn_createDvRequest .requestIntroStepCard {position: relative; width: 183px; height: 170px; float: left; text-align: left;}
.dvn_createDvRequest .requestIntroStepCard h3 {margin: 1em 0 1.25em 3em; font-size: 160%; font-weight: normal; color: #c55b28; text-transform: uppercase;}
.dvn_createDvRequest .requestIntroStepCard p {margin: 1em; font-size: 124% !important; font-weight: bold;}
.dvn_createDvRequest .requestIntroStepCard div.stepCardBtm {position: absolute; top: 162px; left: 0; width: 183px; height: 8px; background: #fff url(request-intro-rndbtm.png) no-repeat;}
.dvn_createDvRequest .contributorSuccess {position: relative; width: 402px; height: 170px; float: left; text-align: left;}
#requestIntroCont {margin: 0 auto; width: 770px; text-align: right;}
#requestIntroCont .requestIntroContLink {padding-right: 28px; background: url(start-arrows.gif) 100% 52% no-repeat; color: #c55b28; font-size: 160% !important; text-transform: uppercase;}
#requestIntroCont .requestIntroContLinkNote {font-size: 90% !important; line-height: 224% !important;}
.dvn_createDvRequest .requestTimeline {position: relative; margin: 20px auto 60px auto; width: 770px; height: 4px; background: #035899 url(fourpoint-timeline.gif) no-repeat;}
.dvn_createDvRequest .requestTimelinePoint {position: absolute; top: -6px; text-align: center;}
.dvn_createDvRequest .requestTimelinePoint strong {color: #ccc; font-weight: normal; line-height: 3.5;}
.dvn_createDvRequest .requestContent {margin: 30px auto; width: 828px; border-top: 1px solid #ccc;}
.dvn_createDvRequest .requestContentDescLeft {float: left; width: 248px; padding: 12px; text-align: left;}
.dvn_createDvRequest .requestContentFormRight {float: left; width: 520px; padding: 0 0 20px 19px; border-left: 1px solid #ccc; text-align: left;}
.dvn_createDvRequest .requestContentFormRight span.reqContentActionTitle {color: #555; font-weight: bold;}
.dvn_createDvRequest .requestContentFormRight span.agreeCheckbox {padding: 0;}
.dvn_createDvRequest .requestContinueLink {padding: 2em 0 0 0; text-align: center;}
.termsAgreementMessage {padding-bottom: 10px;}
span.termsAgreementMessageTitle {display: block; padding-top: 1em; color: #526f76; font-size: 120% !important; font-weight: bold; text-transform: uppercase;}
.termsAgreementBox {margin-bottom: 20px; padding: 4px; width: 450px; height: 300px; border: 1px solid #035899; overflow: scroll; overflow-x: auto;}
.termsAgreementButtons {padding-top: 20px; width: 450px; text-align: center;}
.dvn_createDvRequest .requestContentSucess a {font-weight: bold;}
.dvn_createDvRequest .requestContentSucess ul {margin-left: 1.5em; list-style: disc;}
.dvn_createDvRequest .requestContentSucessH4 h4 {margin: 0; padding: 0; color: #c55b28; font-size: 100% !important;}