/src/DVN-web/nbproject/private/
/src/DVN-ingest/nbproject/private/
/src/DVN-ingest/build/
/src/DVN-ingest/dist/
/src/DVN-web/build/
/src/DVN-web/dist/
/src/DVN-ingest/nbproject/project.xml
/src/DVN-web/nbproject/ant-deploy.xml
/src/DVN-web/nbproject/build-impl.xml
/src/DVN-web/nbproject/export-web-xml.xsl
/src/DVN-web/nbproject/genfiles.properties
/src/DVN-web/nbproject/j2ee13-jsp.xsl
/src/DVN-web/nbproject/j2ee13-web-xml.xsl
/src/DVN-web/nbproject/jax-ws.xml
/src/DVN-web/nbproject/jaxws-build.xml
/src/DVN-web/nbproject/project.properties
/src/DVN-web/nbproject/project.xml
/src/DVN-ingest/nbproject/build-impl.xml
/src/DVN-ingest/nbproject/genfiles.properties
/src/DVN-ingest/nbproject/project.properties
