/* DVN STYLE CLASSES */
.dvn_wrapper{width:100%;min-width:724px;background-color:#fff}
.dvn_wrapperVanilla{width:100%;min-width:620px;background-color:#eee}
.dvn_bodyVanilla{background-color:#eee}
.dvn_content{padding:12px;color:#464646 !important;text-align:left;display:block}
.dvn_content div,.dvn_content span,.dvn_content p,.dvn_content li,.dvn_content caption,.dvn_content table,.dvn_content tbody,.dvn_content tfoot,.dvn_content thead,.dvn_content tr,.dvn_content th,.dvn_content td{font-family:"HelveticaNeue", Helvetica, Arial, sans-serif !important;font-size:13px !important;line-height:18px !important}
.dvn_content span,.dvn_content p{background-color:transparent}
.dvn_content h1,.dvn_content h2,.dvn_content h3,.dvn_content h4,.dvn_content h5,.dvn_content h6{font-family:"HelveticaNeue", Helvetica, Arial, sans-serif !important;font-weight:bold !important;font-style:normal !important}
.dvn_content a,.dvn_content a:link,.dvn_content a:visited,.dvn_content a:hover,.dvn_content a:active{font-family:"HelveticaNeue", Helvetica, Arial, sans-serif !important;font-size:13px !important;line-height:18px !important}
.dvn_content a:link,.dvn_content a:visited{color:#0c54b3;text-decoration:none !important}
.dvn_content a:hover,.dvn_content a:active{color:#c55b28;text-decoration:underline !important}
.dvn_content img{margin:0 !important;padding:0 !important;border:0 !important;display:inline !important}
.dvn_content textarea{width:40em}
.dvn_content textarea.dvnTextareaAuto,.dvn_content textarea.dvnTextareaAuto-dis{width:auto}
.dvn_content ul{list-style-image:none}
.dvn_floatL{float:left}
.dvn_floatR{float:right}
.dvn_overflow{overflow:hidden}
.dvn_clear{clear:both}
.dvn_indent{margin-left:2em}
.dvn_icon{border:0;vertical-align:bottom}
#hiddenDiv{display:none;}
.vdcNoBorders{border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none}
.dvn_section{margin:1em 0;width:100%;text-align:center}
.dvn_sectionHeader{width:100%;text-align:center;overflow:hidden}
.dvn_sectionTitle{display:table;margin:0 0 2px 0;padding:0 7px 5px 7px;border:1px solid #D9D9D9;border-bottom-color:#FFF;background:transparent url(/dvn/resources/icefaces/dvn_rime/css-images/Tab_MidMid.gif) repeat-x left top;text-transform:uppercase;text-align:left}
.dvn_sectionTitle span.iceOutTxt{display:block;font-size: 1.3em !important;font-weight:bold;color:#0C54B3;margin:3px;padding:4px 1px 0 1px;}
.dvn_sectionTitle a{font-size:100% !important}
.dvn_sectionTitle a:hover,.dvn_sectionTitle a:active{font-size:100% !important;color:#526f76;text-decoration:none !important;cursor:text}
.dvn_sectionTitleL{float:left;padding:0 0 0.25em;color:#526f76;font-size:112% !important;font-weight:bold;text-transform:uppercase;text-align:left}
.dvn_sectionTitleR{float:right;padding:0 0 0.25em;}
.dvn_sectionTitleR a:link,.dvn_sectionTitleR a:visited,.dvn_sectionTitleR a:hover,.dvn_sectionTitleR a:active{margin-left:2em;}
.dvn_sectionTitleLinksL{float:left}
.dvn_sectionTitleLinksR{float:right}
.dvn_sectionTitleLinksR a:link,.dvn_sectionTitleLinksR a:visited,.dvn_sectionTitleLinksR a:hover,.dvn_sectionTitleLinksR a:active{margin-left:2em}
.dvn_sectionBox{width:100%;text-align:left;border:1px solid #D9D9D9;background:#FFFFFF url(/dvn/resources/icefaces/dvn_rime/css-images/contentContainer_bg.gif) repeat-x left top;}
.dvn_sectionBoxNoBorders{width:100%;padding-top:.75em;text-align:left;float:left}
.dvn_block{margin-bottom:12px;padding:6px;background:#f8f8f8 url(/dvn/resources/images/blocks_bg.png) no-repeat;border:1px solid #e9e5e5}
.dvn_block span{margin:0;padding:0;color:#526f76;font-weight:bold;text-transform:uppercase}
.dvn_blockTitleBar{margin-bottom:12px;padding:6px;background:#F2F2F2;border:1px solid #ddd;font-style:italic;text-align:center}
.dvn_margin12{margin:1em 1em 0em 1em;padding-bottom:2em;line-height:inherit}
.dvn_padTop{padding-top:1em;}
.dvn_padBot{padding-bottom:1em;}
.dvn_spacing{margin:1em;}
.dvn_right{text-align:right;}
span.disabled{font-weight:700}
a.dvninlinelink, a.dvninlinelink span.iceOutTxt{display:inline;}
a.dvninlinelink{margin-left:2em;}
/* CONNECTION STATUS SPINNER */
.iceOutConStat{position:fixed;left:50%;top:50%;margin-top:-12px;margin-left:-12px;z-index:1}
.iceOutConStatActv,.iceOutConStatCaution,.iceOutConStatDisconnect{width:25px;height:25px}
/* HEADER */
.dvn_headerTitle{overflow:hidden;text-align:left}
.dvn_headerTitleLarge{padding:2px 0;text-align:left}
.dvn_headerTitleLarge a:link,.dvn_headerTitleLarge a:visited,.dvn_headerTitleLarge a:hover,.dvn_headerTitleLarge a:active{display:inline !important;font-size:180% !important;line-height:22px !important}
a.dvn_headerTitleLrgNetwork:link,a.dvn_headerTitleLrgNetwork:visited,a.dvn_headerTitleLrgNetwork:hover,a.dvn_headerTitleLrgNetwork:active{color:#c55b28}
.dvn_headerTitleL a:link,.dvn_headerTitleL a:visited,.dvn_headerTitleL a:hover,.dvn_headerTitleL a:active{color:#c55b28;font-size:90% !important}
.dvn_headerTitleR{position:relative;text-align:right}
.dvn_headerTitleR div.dvn_headerVersion {position:absolute;bottom:4px;right:0;}
.dvn_headerTitleR div.dvn_headerVersion span.iceOutTxt {color:gray;font-size:90% !important;line-height:12px !important;}
.dvnUnreleasedDVIcon{display:inline !important;margin-left:.5em}
.dvnUnreleasedDVIcon img{display:inline !important;vertical-align: middle}
/* NAV */
div.dvn_navblock{margin-bottom:12px;border-bottom:1px solid #dfdfdf}
div.dvn_navblockNetwork{}
.dvn_navblockLinks{overflow:hidden;width:100%}
.dvn_navblockWrap{text-align:right;overflow:hidden;}
.dvn_navblockLinks ul{overflow:hidden;float:right;margin:0;padding:0;list-style-type:none !important;border-top:1px solid #dfdfdf;white-space: nowrap;}
.dvn_navblockLinks ul li{display:inline-block;margin:0;padding:0;height:25px;line-height:25px !important;vertical-align:middle;}
.dvn_navblockLinks ul li a:link,.dvn_navblockLinks ul li a:visited,.dvn_navblockLinks ul li a:hover,.dvn_navblockLinks ul li a:active{display:block;padding:0 .5em;text-decoration:none;}
.dvn_navblockLinks ul li span,.dvn_navblockLinks ul li a:link,.dvn_navblockLinks ul li a:visited,.dvn_navblockLinks ul li a:hover,.dvn_navblockLinks ul li a:active{line-height:25px !important;}
.dvn_navblockLinks ul li:hover,.dvn_navUserName div:hover{position:relative}
.dvn_navblockLinks ul li:hover a:link,.dvn_navblockLinks ul li:hover a:visited,.dvn_navblockLinks ul li:hover a:hover,.dvn_navblockLinks ul li:hover a:active{color:#fff;background-color:#c55b28;text-decoration:underline}
.dvn_navUserName{border-left:1px solid #dfdfdf}
.dvn_navUserGroup span{display:block;padding:0 .5em}
.navicon{position:relative;display:block;width:22px;height:22px;}
.dvn_navblockLinks ul li:hover a.navicon:link, .dvn_navblockLinks ul li:hover a.navicon:visited, .dvn_navblockLinks ul li:hover a.navicon:hover, .dvn_navblockLinks ul li:hover a.navicon:active{background-color:#fff;}
.naviconsearch{background:#fff url(/dvn/resources/images/navicon_search.jpg) no-repeat 6px 2px;}
.naviconguides{background:#fff url(/dvn/resources/images/navicon_guides.jpg) no-repeat 6px 2px;}
.naviconcontact{background:#fff url(/dvn/resources/images/navicon_contact.jpg) no-repeat 6px 2px;}
.naviconoptions{background:#fff url(/dvn/resources/images/navicon_options.jpg) no-repeat 6px 2px;}
.naviconmanifest{background:#fff url(/dvn/resources/images/navicon_manifest.jpg) no-repeat 6px 2px;}
.navicon span{position:absolute;top:-9999px;left:-9999px;}
/* FORM ELEMENTS */
.dvnFormPadding{padding:1em 0;text-align:left}
.dvnFormPaddingTop{padding-top:1em;text-align:left}
.dvnFormMargin input{margin-right:2em}
.dvnFormMargin input:last-child{margin-right:0}
.dvnFormMargin input.iceCmdBtn[type=submit], .dvnFormMargin input.iceCmdBtn[value=Release], .dvnLoginPageAffiliate .dvnFormMargin input.iceCmdBtn[type=button]{background:#CEE6BB; border:1px solid #9BC191; padding:4px 16px; font-size:1em;}
.dvnFormMargin input.iceCmdBtn-dis[type=submit]{background:#D9D9D9; border:1px solid #A9A9A9; padding:4px 16px; font-size:1em;}
.dvnFormMargin input.iceCmdBtn[type=submit]:hover, .dvnFormMargin input.iceCmdBtn[value=Release]:hover, .dvnLoginPageAffiliate .dvnFormMargin input.iceCmdBtn[type=button]:hover{border:1px solid #299A0B;}
.dvnFormMargin input.iceCmdBtn[type=submit]:active, .dvnLoginPageAffiliate .dvnFormMargin input.iceCmdBtn[type=button]:active{background:#299A0B;}
.dvnFormMargin input.iceCmdBtn[value=Cancel], .dvnFormMargin input.iceCmdBtn[value=Exit]{background:#EEF3FB; border:1px solid #B7CDFF; padding:4px 16px; font-size:1em;}
.dvnFormMargin input.iceCmdBtn[value=Cancel]:hover, .dvnFormMargin input.iceCmdBtn[value=Exit]:hover{border:1px solid #0C54B3;}
.dvnFormMargin input.iceCmdBtn[value=Cancel]:active, .dvnFormMargin input.iceCmdBtn[value=Exit]:active{background:#0C54B3;}
/* HELP-INFO MSG BLOCK */
div.dvnMsgBlockRound{position:relative;}
div.dvnMsgBlockContainer{text-align:left}
div.dvnMsgBlockContainer p{background:transparent;margin:1em 0;color:#666666}
div.dvnMsgBlockContainer p:first-child {text-indent:22px}
div.dvnMsgBlockContainer ul{margin:1em 0}
div.dvnInformationMessage{margin-bottom:1em;background:transparent url(/dvn/resources/images/icon_information.18.png) no-repeat 0px 0px}
div.dvnInformationMessage.dvn_margin12{padding-bottom:0;}
div.dvnSuccessMessage{max-width:700px;margin:0 auto 1em;background:#cee6bb url(/dvn/resources/images/icon_success.18.png) no-repeat 0px 0px}
div.dvnSuccessMessage div.dvnMsgBlockContainer{}
div.dvnSuccessMessage span{font-weight:bold;color:#299a0b;background:transparent}
div.dvnSuccessMessage ul{padding-left:0;list-style:none;background:transparent}
div.dvnSuccessMessage li{margin:0;padding:0}
div.dvnSuccessMessage .successMessage{background:transparent;color:#299a0b;font-weight:bold;text-align:left}
.successMessage{background:#f4ebc7;color:#c55b28;font-weight:700}
.successMessage a:link,.successMessage a:visited,.successMessage a:hover,.successMessage a:active{color:blue}
ul.successMessage,.successMessage ul{list-style:none}
ul.successMessage li,.successMessage ul li{margin:0;padding:0}
div.dvnWarningMessage{margin-bottom:1em;background:transparent url(/dvn/resources/images/icon_warning.18.png) no-repeat 0px 0px}
div.dvnWarningMessage div.dvnMsgBlockContainer{}
div.dvnWarningMessage a:link,div.dvnWarningMessage a:visited,div.dvnWarningMessage a:hover,div.dvnWarningMessage a:active{color:#0c54b3}
div.dvnWarningMessage span{font-weight:bold;background:transparent}
div.dvnWarningMessage p, div.dvnWarningMessage li{color:#8B0404;}
.dvnWarningMessage.dvnMessageLink a{font-weight:bold;}
.dvnWarningMessage.dvnMessageCapLock span.warnMessage {text-transform: uppercase;}
.warnMessage{color:#8B0404}
.errorMessage{color:red;font-weight:700}
.errorMessageBlock{color:red;font-weight:bold;display:block}
.fatalMessage{color:red;font-style:italic;font-weight:700}
.infoMessage{color:black}
.errorMessageFatal,.errorMessageError,.errorMessageWarn,.errorMessageInfo{color:red;font-weight:bold;padding:0 .5em}
.errorMessageBlockFatal,.errorMessageBlockError,.errorMessageBlockWarn,.errorMessageBlockInfo{color:red;font-weight:bold;padding:0 .5em;display:block}
.dvnEditStudyHelpBlock .dvnCloseHelpBlock{display:block;position:absolute;top:0;right:12px;}
.dvnEditStudyHelpBlock .dvnEditStudyHelp{display:block;padding-top:.5em;}
/* HELP TEXT, TIPS, POP UPS */
.vdcHelpText{color:#666;margin-bottom:1em}
.vdcHelpText img{vertical-align:bottom;border:0}
.vdcHelpText span{padding-left:.5em}
span.iceOutTxt.vdcHelpText{display:inline !important;}
.dvnInlineHelpLabel{color:#0C54B3; display:inline !important;}
#tooltip {position:absolute; z-index:3000; width:300px; border:1px solid #C55B28; background-color:#eee; padding:5px; font-family:"HelveticaNeue",Helvetica,Arial,sans-serif !important; font-size:13px !important; line-height:18px !important; color:#464646 !important;}
#tooltip h3, #tooltip div {margin:0}
#tooltip h3 {color:#0C54B3}
.vdcPopup{position:absolute;width:400px;padding-top:8px;padding-left:0px;padding-right:0px;padding-bottom:0px;z-Index:1000}
.vdcPopupLink{color:#069;text-decoration:none}
.vdcPopupContents{display:block;height:100%;border:1px solid #ccc;background-color:#ffc;margin-top:5px;margin-bottom:0px;padding:3px 3px 3px 10px;text-align:left;color:#000}
.vdcPopupWrapper{font-weight:800}
.vdcTextNoWrap{white-space:nowrap}
.vdcTextStandOut{color:#820024;font-weight:700}
.dvnPopupWarningMessage{background:url(/dvn/resources/images/icon_warning.png) no-repeat scroll 4px 0;}
.dvnPopupMessageContainer{display:table-cell;vertical-align:middle;}
.dvnPopupWarningMessage p{margin:.25em 0 1.5em 58px;}
.dvnPopupWarningMessage strong{color:#820024;text-transform:uppercase;}
/* PAGINATOR + ALPHA BROWSE */
td.dvnPaginatorWrap,div.dvnPaginatorWrap{padding:0}
.dvnPaginatorRight img{border:0}
.dvnPaginatorFloatRight{float:right}
.dvn_Totals{position:absolute;top:.75em;right:.75em}
.dvn_totalsLabel{color:#526f76;font-size:112%}
.dvn_totalsValue{color:#c55b28;font-weight:700}
.dvnDataTable{margin-top:0;width:100%}
.list-header{font-weight:700}
.list-header-left{background-color:#dadee0;font-weight:bold;text-align:left}
.list-paging-header{background-color:white}
.list-paging-footer{background-color:white}
.list-row-even{background-color:#F2F2F2}
.list-row-even td{background-color:#F2F2F2;border-bottom:1px solid #dddfde}
.list-row-odd{background-color:#fff}
.list-row-odd td{background-color:#fff;border-bottom:1px solid #dddfde}
ul.dvnAlphaBrowseBlock{float:left;margin:.5em 0 1em;padding:0;border:1px solid #0c54b3;background:#eee}
li.dvnAlphaBrowse{list-style-type:none;float:left;padding:0px;border-left:1px solid #0c54b3;border-right:1px solid #0c54b3;background:#eee;z-index:1000}
li.dvnAlphaBrowseHover{list-style-type:none;float:left;padding:0px;border-left:1px solid #0c54b3;border-right:1px solid #0c54b3;background:#c55b28;z-index:1000}
li.dvnAlphaBrowseSelected{list-style-type:none;float:left;padding:0px;border-left:1px solid #0c54b3;border-right:1px solid #0c54b3;background:#ccc;z-index:1000}
li.dvnAlphaBrowse a{padding:2px 5px;font-weight:bold;color:#0c54b3}
li.dvnAlphaBrowse a:hover{padding:2px 5px;color:white}
li.dvnAlphaBrowseHover a{padding:2px 5px;font-weight:700}
li.dvnAlphaBrowseHover a:hover{padding:2px 5px;color:white}
li.dvnAlphaBrowseSelected a{padding:2px 5px;font-weight:bold;color:white}
/* TABLE */
.vdcColPadded{padding-bottom:3px;padding-left:4px;padding-top:3px;text-align:left;vertical-align:top}
.dvnFormDataTable{border:0;margin:0}
.dvnFormDataTable tr{border:0;padding:0}
.dvnFormDataTable td,.dvnFormDataTable th{border:0;padding:4px 0;text-align:left}
.formHtmlEnabled{background-color:#E4F9F9;border:1px solid #7f9db9;padding:.15em}
.formDateFormat{background-color:#F9E0BD;border:1px solid #7f9db9;padding:.15em}
.vdcTextRight{padding-right:4px;text-align:right}
.vdcFieldTitle{font-weight:700}
.vdcSubHeader{font-weight:bold;display:block}
.vdcSubHeaderColor{color:#0b3b6b;font-weight:bold;display:block}
.dvnManageTable{width:100%;margin:0}
.dvnManageTableTop{border:1px solid #d9d9d9;border-bottom-width:0;background:#FFFFFF url(/dvn/resources/icefaces/dvn_rime/css-images/contentContainer_bg.gif) repeat-x left top;text-align:left;overflow:hidden}
.dvnManageSecondTable{padding-top:1.5em;border-width:0 1px}
.dvnManageTableTotals{width:75%;padding:.5em .25em}
.dvnManageTableCreateLink{float:right;width:20%;padding:.5em .25em;text-align:right}
.dvnManageTableEmpty{border:1px solid #d9d9d9;border-top-width:0;padding:1em 0}
.dvnManageTableEmpty div.dvnManageTableEmptyMessage,.dvnManageTableEmpty span.dvnManageTableEmptyMessage{text-align:center}
.dvnManageTable th span {white-space: nowrap;}
.dvnManageTable .iceCmdLnk span {white-space: nowrap;}
/* CUSTOM OPTION TABS */
.dvnTabs .icePnlTb .LftTop, .dvnTabs .icePnlTb .MidTop, .dvnTabs .icePnlTb .RtTop {background: #D9D9D9; border: 0;}
.dvnTabs .icePnlTbOn, .dvnTabs .icePnlTbOff, .dvnTabs .icePnlTbOver {margin: 0 4px 2px 0;}
.dvnTabs .icePnlTbOn .LftTop, .dvnTabs .icePnlTbOn .MidTop, .dvnTabs .icePnlTbOn .RtTop, .dvnTabs .icePnlTbOff .LftTop, .dvnTabs .icePnlTbOff .MidTop, .dvnTabs .icePnlTbOff .RtTop, .dvnTabs .icePnlTbOver .LftTop, .dvnTabs .icePnlTbOver .MidTop, .dvnTabs .icePnlTbOver .RtTop {height: 1px;}
.dvnTabs .icePnlTbOn .LftBtm, .dvnTabs .icePnlTbOn .MidBtm, .dvnTabs .icePnlTbOn .RtBtm, .dvnTabs .icePnlTbOff .LftBtm, .dvnTabs .icePnlTbOff .MidBtm, .dvnTabs .icePnlTbOff .RtBtm, .dvnTabs .icePnlTbOver .LftBtm, .dvnTabs .icePnlTbOver .MidBtm, .dvnTabs .icePnlTbOver .RtBtm {background:none;}
.dvnTabs .icePnlTbOn .MidMid, .dvnTabs .icePnlTbOff .MidMid, .dvnTabs .icePnlTbOver .MidMid {border-left: 1px solid #D9D9D9; border-right: 1px solid #D9D9D9;}
.dvnTabs .icePnlTbOn .LftTop, .dvnTabs .icePnlTbOn .LftMid, .dvnTabs .icePnlTbOn .LftBtm, .dvnTabs .icePnlTbOn .RtTop, .dvnTabs .icePnlTbOn .RtMid, .dvnTabs .icePnlTbOn .RtBtm {display:none;}
.dvnTabs .icePnlTbOn .MidMid a {background:none; padding-left: 8px; padding-right: 8px !important; text-transform: uppercase;}
.dvnTabs .icePnlTbOn .MidMid a td {color:#0C54B3;}
.dvnTabs .icePnlTbOn .MidMid a:hover td {color:#C55B28;}
.dvnTabs .icePnlTbOff .MidMid a {background:none; padding-left: 8px; margin: 0; color:#C55B28;}
.dvnTabs .icePnlTbOff .MidMid a td {color:#C55B28;}
.dvnTabs .icePnlTbOff .MidMid a:hover td {color:#0C54B3;}
.dvnTabs .icePnlTbOver .MidMid a {background:none; padding-left: 8px; margin: 0; color:#C55B28;}
.dvnTabs .icePnlTbOver .MidMid a td {color:#C55B28;}
.dvnTabs .icePnlTbOver .MidMid a:hover td {color:#0C54B3;}
.dvnTabs .icePnlTbOn .MidMid a td {font-size: 1.3em !important;}
.dvnTabs .icePnlTbOff .LftTop, .dvnTabs .icePnlTbOff .MidTop, .dvnTabs .icePnlTbOff .RtTop, .dvnTabs .icePnlTbOff .LftMid, .dvnTabs .icePnlTbOff .MidMid, .dvnTabs .icePnlTbOff .RtMid, .dvnTabs .icePnlTbOver .LftTop, .dvnTabs .icePnlTbOver .MidTop, .dvnTabs .icePnlTbOver .RtTop, .dvnTabs .icePnlTbOver .LftMid, .dvnTabs .icePnlTbOver .MidMid, .dvnTabs .icePnlTbOver .RtMid {background: #D9D9D9;}
.dvnTabs .icePnlTbOff .MidMid td, .dvnTabs .icePnlTbOver .MidMid td {font-weight: normal;}
.dvnTabs .icePnlTbSetSpcr {border-bottom: 0;}
.dvnTabs .icePnlTbSetCnt {border-top: 1px solid #D9D9D9;}
.dvnTabs.dvnSubTabs .icePnlTbOn .LftTop, .dvnTabs.dvnSubTabs .icePnlTbOn .MidTop, .dvnTabs.dvnSubTabs .icePnlTbOn .RtTop, .dvnTabs.dvnSubTabs .icePnlTbOff .LftTop, .dvnTabs.dvnSubTabs .icePnlTbOff .MidTop, .dvnTabs.dvnSubTabs .icePnlTbOff .RtTop, .dvnTabs.dvnSubTabs .icePnlTbOver .LftTop, .dvnTabs.dvnSubTabs .icePnlTbOver .MidTop, .dvnTabs.dvnSubTabs .icePnlTbOver .RtTop {height: 1px; background: transparent;}
.dvnTabs.dvnSubTabs .icePnlTbOn .MidMid, .dvnTabs.dvnSubTabs .icePnlTbOff .MidMid, .dvnTabs.dvnSubTabs .icePnlTbOver .MidMid {border:0; background: transparent none;}
.dvnTabs.dvnSubTabs .icePnlTbOn .MidMid a {margin:0; text-transform:none;}
.dvnTabs.dvnSubTabs .icePnlTbOn .MidMid a td {font-size: 1em !important;}
.dvnTabs.dvnSubTabs .icePnlTbOff .LftTop, .dvnTabs.dvnSubTabs .icePnlTbOff .MidTop, .dvnTabs.dvnSubTabs .icePnlTbOff .RtTop, .dvnTabs.dvnSubTabs .icePnlTbOff .LftMid, .dvnTabs.dvnSubTabs .icePnlTbOff .MidMid, .dvnTabs.dvnSubTabs .icePnlTbOff .RtMid, .dvnTabs.dvnSubTabs .icePnlTbOver .LftTop, .dvnTabs.dvnSubTabs .icePnlTbOver .MidTop, .dvnTabs.dvnSubTabs .icePnlTbOver .RtTop, .dvnTabs.dvnSubTabs .icePnlTbOver .LftMid, .dvnTabs.dvnSubTabs .icePnlTbOver .MidMid, .dvnTabs.dvnSubTabs .icePnlTbOver .RtMid {background: transparent;}
.dvnTabs.dvnSubTabs .icePnlTbSetCnt {border:0; background:transparent;}
/* ICEFACES */
.iceSelOneRb tr,.iceSelOneRb td{border:0}
.MidMid a{padding-right:4px !important}