/*
#CC6733 - orange border
#DA944E - orange fill
#F0F0EE - gray background
*/

BODY 
{
	margin: 0;
	background-image: none ! important;
}

BODY, TD.gray, TD.fadecorner_sw 
{
	background-color: #F0F0EE;
}

TD 
{
	background-color: #ffffff;
}

BODY, TT
{
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 100%; /* xx-small; */ /* 10px */
}

PRE
{
	font-size: 100%;
}

A 
{
/*	color: #000000; */
}

A.monitor, A.highlight 
{
	color: #CC6733;
}

#maindivinner A IMG 
{
	border-width: 0;
}

#maindivinner H1, #maindivinner H2, #maindivinner H3  
{
	font-weight: bold;
	text-transform: capitalize; 
	color: #CC6733;
	font-size: 1.0em; /* 1.4em; */
	text-align: left ! important;
}

H1 *, H2 *, H3 *, .orange 
{
	color: #CC6733;
	text-align: left ! important;
}

H1 A, H2 A, H3 A, SPAN.toolslink 
{
	text-decoration: underline;
}

.orange 
{
	color: #CC6733;
}

#maindivinner H1 
{
	text-transform: uppercase;
}

#maindivinner H3 
{
	font-style: italic;
}


UL 
{
	list-style-image: url(/images/bullet_cc6733.gif)
}

LI 
{
	padding: 0 0 0.8em 0; /* 12px */
}

UL.also LI
{
	padding-bottom: 0;
	line-height: 150%;
}


/*
#navmenudiv 
{
	position: absolute;
	top: 70px;
	left: 95px;
	z-index: 20;
}
*/
#navalsodiv 
{
	position: absolute;
	top: 70px;
	left: 0px;
	z-index: 20;
	border-width: 0 1px 0 0;
	border-color: #CC6733;
	border-style: solid;
}

#maindiv
{
	position: absolute;
	top: 23px; /* need 190px for homepage */ /* 70 */
	left: 200px; /* 200 *//* 245px; */
	z-index: 10;
}

#logodiv, #logodivhome
{
	position: absolute;
	top: 0px;
	right: 10px;
	z-index: 2;
	padding: 15px;
	display: none;
}

#logodivhome
{
	top: 130px; /* 140 */
	left: 740px;
}

#orangelines DIV 
{
	position: absolute;
	background-color: #CC6733;
	z-index: 200;
}	

#orangeline_horiz
{
	top: 90px; /* 100 */
	left: 0px;
	height: 1px;
	width: 220px;
}

#orangeline_horiz2
{
	top: 392px; /* 402 */
	left: 216px;
	height: 1px;
	width: 50px;
}

#orangeline_vert 
{
	top: 0px;
	left: 220px;
	height: 70px;
	width: 1px;
}

.transparent 
{
	background-color: none;
	background-image: none;
}

#troublespot
{
	background-image: url(/images/gking_head.jpg);
}

/*
#boxjoiner1
{
	position: absolute;
	top: 370px;
	left: 201px;
	z-index: 101;
	height: 90px;
	width: 30px;
	display: none;
}
*/

/* homepage support */
/* opacity tricks BEGIN */
#gkingnamebox
{
	position: absolute;
	top: 0;
	left: -45px;
	z-index: 7;
	height: 105px;
	width: 280px;
}
#gkingnameimg 
{
	height: 105px;
	width: 280px;
	border-width: 0;
}

#gkingheadbox
{
	position: absolute;
	top: -1px;
	left: 210px; /* 245 */
	z-index: 200;
/*	background-color: #ffffff; */
	padding: 0px;
	height: 230px;
	width: 225px;
	display: block;

}
#gking_name_shimbox
{
	position: absolute; /*relative; */
	top: 90px;
	left: -46px;
	height: 28px;
	width: 105px;
	z-index: 190; /* 19 */
}
#gking_name_shimbox2
{
	position: relative;
	top: -15px;
	left: 280px;
	z-index: 99;
}


#gkingheadimg 
{
/*	height: 210px;
	width: 215px;
*/
	height: 230px;
	width: 225px;
}

/* opacity tricks END */

#also 
{
	position: relative; 
	bottom: -100ex;
	right: 0px;
	width: 276px;
	height: auto;
	overflow: hidden;
}

#alsospecial1 
{
	border: solid 1px #CC6733; border-width: 1px 0 1px 0;
}

#alsospecial2 
{
	border: solid 1px #CC6733; border-width: 1px 0 1px 0;
}

/*
#also * 
{
	border: solid 1px blue;
}
*/

#tools 
{
	text-align: left;
}

#tools FORM 
{
	display: inline;
}

#tools IMG 
{
	margin: 4px 6px 4px 4px;
	vertical-align: middle;
}

#alsotable HR
{
	color: #CC6733;
	height: 1px;
}

INPUT.txtinput 
{
	width: 150px; /* 175px */
	border: solid 1px #CC6733;
	padding: 4px;
}

LABEL, INPUT.button, INPUT.b2, BUTTON 
{
	cursor: hand;
}


INPUT.button, INPUT.b2, a.button, BUTTON
{
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-weight: bold;  
	font-size: 8pt; /* 0.95em; */
	color: #FFFFFF; 
	background-color: #DA944E;
	text-decoration: none;
	text-align: center;
}

#buttongoogle 
{
	width: 125px;
}

/* flip-flop button colors, used in button click effect */
INPUT.b2, a.button:hover, a.button:active, BUTTON.b2
{ 
	color: #DA944E; 
	background-color: #FFFFFF; 
}

a.button 
{
	font-weight: normal;
	border-style: solid; 
	border-width: 1px 2px 2px 1px;
	border-color: #000000;
	padding: 2px;
	margin: 2px;
}

a.button:hover, a.button:active 
{
	border-width: 2px 1px 1px 2px;
}

#alsoshim, #alsoshim2, #alsoshim3, #alsoshim4
{
/*	border: solid 1px green;  */
	display: none;
}

#alsotable TD
{
	vertical-align: top;
	padding: 0 4px 4px 0;
}

#homecopy 
{
	position: absolute;
	top: 190px; /* 200 */
	left: 245px;
	width: 600px;
	height: 233px;
	z-index: 9;
	margin: 0 50px 0 0;
}

#homecopytxt
{
	/* line-height: 1.75em;  */
	height: auto /* 182px; */ /* 229 */
	
}

#tools a /* #homecopytxt a, #homecopytxt a:visited */
{
	color: #000000;
	text-decoration: none;
}

#footer
{
	width: auto;	
	text-align: left;
	padding: 8px 4px 4px 4px;
}

#footerspecial 
{
	border-style:solid;border-color:#CC6733;border-width: 0 0 0 1px;
	height: 537px; /* 36em; */ /* 575px; */
}

#backdiv 
{
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: xx-small;
}

PERSON, BIG 
{
	font-weight: bold;
}
	

TD.darkgray 
{
	background-color: #716F62;
}

.bg
{
	color: #444444;
	font-weight: bold;
}

#navmenuoutertd 
{
	padding: 0px;
}

TD.navmenutd, TD.navmenutd2
{
	background-repeat: repeat-y;
	background-position: right top;
	text-align: left;
}

#alsotable TD, TD.navmenutd, TD.navmenutd2, INPUT.txtinput, #footer, #tools SELECT 
{
	font-size: 8pt; /* 0.7em;  */
}

#tools SELECT 
{
	width: 120px;
}
	
TD.navmenutd 
{
	background-image: url(/images/fade_navmenubg.gif);
}

TD.navmenutd2 
{
	background-image: url(/images/fade_navmenubgover.gif);
}

TD.navmenutd A 
{
	color: #000000;
	text-decoration: none;
}

TD.navmenutd2 
{
	background-color: #DA944E;
}

TD.navmenutd2 A 
{
	color: #ffffff;
	text-decoration: none;
}

#navmenutable TD, #maindivinner
{
	border-style: solid; 
	border-width: 0px 1px 1px 1px; 
	border-color: #CC6733;
	padding: 8px 18px 8px 8px;
}

#navmenutable TD 
{
	border-width: 0 0 0 0;
}

#navmenutd_top, #maindivinner 
{
	border-top-width: 1px ! important;
}

#navmenutable 
{
	width: 151px;
	cursor: hand;
}

#navspecial 
{
	border-right: solid 1px blue; 
	border-width: 0 0px 0 0;
}

#maindivoutertd 
{
	vertical-align: top;
/*	padding: 10px; */
}

#maindivinner 
{
/*	margin: 10px; */
	padding: 10px;
	font-size: 0.7em; /* smaller; */
}

#maindivinner TD 
{
	font-size: 0.7em;
}

TD.fade_vert_right 
{
	width: 10px;
	background-image: url(/images/fade_vert_right.gif);
}

TD.fade_vert_left 
{
/*	width: 10px; */
	background-image: url(/images/fade_vert_left.gif);
}

TD.fade_horiz_bot 
{
	height: 10px;
	background-image: url(/images/fade_horiz_bot.gif);
}

TD.fade_horiz_top 
{
	height: 10px;
	background-image: url(/images/fade_horiz_top.gif);
}

TD.fadedark_horiz_top
{
	height: 10px;
	background-image: url(/images/fadedark_horiz_top.gif);
}

TD.fadedark_vert_left
{
	width: 10px;
	background-image: url(/images/fadedark_vert_left.gif);
}

TD.fadelight_vert_left
{
	width: 10px;
	background-image: url(/images/fadelight_vert_left.gif);
	border-width: 0;
}

TD.fadecorner_nw_right 
{
	background-image: url(/images/fadecorner_nw_right.gif);
}

TD.fadecorner_sw, TD.fadecorner_sw_top, TD.fadecorner_sw_right,
TD.fadecorner_se, TD.fadecorner_se_top, TD.fadecorner_se_left,
TD.fadecorner_nw, TD.fadecorner_nw_bot, TD.fadecorner_nw_right,
TD.fadecorner_ne, TD.fadecorner_ne_bot, TD.fadecorner_ne_left, 
TD.fadecorner_ne_inner, TD.fadecorner_nw_inner, TD.fadelightcorner_sw, 
TD.fadelightcorner_sw_top, TD.fadelightcorner_sw_right
{
	height: 10px;
	width: 10px;
	line-height: 0;
}

/* latex-specific styles */
TABLE.latexnav, TABLE.latexnav TD 
{
	border: solid 1px #CC6733;
	height: 28px;
}

TABLE.latexnav
{
	border-width: 1px 0 1px 0;
	position: relative;
	top: -11px;
	left: -11px;
}

TABLE.latexnav TD 
{
	border-width: 0 1px 0 0;
	font-size: xx-small;
	padding: 0 8px 0 8px;
	text-align: center;
}

TABLE.latexnav TD B
{
	padding-left: 8px;
	font-weight: normal;
}

TABLE.latexnav TD.latexnavhome 
{
	border-left-width: 1px;
	padding: 0;
}

.latexhide, TABLE.latexnav TD BR 
{
	display: none;
}

TABLE.cvbooks TD
{
	padding: 12px;
	vertical-align: top; 
}

ADDRESS 
{
	display: none;
}

#gking2 
{
	position: absolute;
	top: 44px;
	left: 30px;
	z-index: 11;
	margin-bottom: 20px;
}

#tools a, #alsotable LABEL 
{
	font-size: 8pt;
	font-weight: normal;
}

TR.faderow > TD, #fadetd 
{
	line-height: 0;
}

SPAN.note { display: none; font-size: 10px; }
/* IMG.spacer { border: solid 1px black; }  */
/* DIV TABLE { border: solid 1px blue } */
#special { width: 200px; }
#specialtd { background-color: Transparent; }
/* #shimtable4, #shimtable4 TD { border: solid 1px blue; } */
/* #shimtable4 IMG { border: solid 1px black; } */