import(R2HTML)
import(Zelig)
import(accuracy)
importFrom(grid, grid.draw)
importFrom(VGAM, summaryvglm)
export(hplot)
export(VDCgenAnalysis)
export(printZeligSchemaInstance)
export(HTML.summary.MCMCZelig,HTML.summary.zelig,HTML.summary.zelig.strata)
export(zeligModelDependencies)
#export(zeligListModels,zeligInstalledModels,zeligDescribeModelXML,zeligGetSpecial)
export(VDCcrossTabulation,VDCxtabs,HTML.VDCxtabs)
export(VDCWebSearch)
export(recodeVDCdf)

S3method(hplot,default)
S3method(plot,grob) 
S3method(print,VDCxtabs) 
