@CHARSET "ISO-8859-1";

.section-1 {
	width:90%;
	border:1px solid #CCC;
  padding:20px;
  margin:0 auto;
  font-family:arial;
}

h1 {font-size: 1.5em;}

body > div > h1:first-child {
border-bottom: 1px solid #444;
font-size: 2.2em;
