<IfModule !mod_alias.c>
  LoadModule alias_module   modules/mod_alias.so
</IfModule>

<IfModule !mod_deflate.c>
  LoadModule deflate_module modules/mod_deflate.so
</IfModule>

<IfModule !mod_perl.c>
  LoadModule perl_module modules/mod_perl.so
</IfModule>

<IfModule !mod_proxy.c>
  LoadModule proxy_module modules/mod_proxy.so
</IfModule>

<IfModule !mod_proxy_httpd.c>
  LoadModule proxy_http_module modules/mod_proxy_http.so
</IfModule>

<IfModule !mod_proxy_httpd.c>
  LoadModule proxy_http_module modules/mod_proxy_http.so
</IfModule>

Timeout 10980

<VirtualHost *:%DSB_SERVER_PORT%>
  ServerName %DSB_SERVER%

  CustomLog logs/VDC_access combined

  CustomLog logs/VDC_detail '%v %h %l %u %t "%r" %>s %b "%{Referer}i" "%{User-agent}i" "%{SCRIPT_FILENAME}e" "%{cookie}i" %T ratio: "(%{ratio}n)"'
                                                                                                                        
   ScriptAlias /cgi-bin/ /usr/local/VDC/cgi-bin/
                                                                                                                        
  <IfModule mod_deflate.c>
        SetOutputFilter DEFLATE

        # If you change bind.cgi to USE_MOD_DEFLATE=0, uncomment the line below
        # and the corresponding line in the :443 Vhost
        # to avoid double encoding
        SetEnvIfNoCase Request_URI \/Bind\/ no-gzip

        DeflateFilterNote ratio


        # standard, catch text, html, xml, etc.
        AddOutputFilterByType DEFLATE text/*
        # standard, but don't catch pdf, which breaks plugins, or images, which are already compressed
        AddOutputFilterByType DEFLATE application/ms* application/vnd* application/postscript
        # catch other VDC data types
        AddOutputFilterByType DEFLATE application/octet-stream* octet/stream* application/x-* application/binary*
                                                                                                                        
        # tuning parameters, apache >= 2.0.45  only
        DeflateBufferSize 64768
  </IfModule>


  <IfModule mod_perl.c>
    <Location /perl>
      SetHandler perl-script
      <IfDefine !MODPERL2>
	PerlHandler Apache::Registry
      </IfDefine>
      <IfDefine MODPERL2>
	PerlHandler ModPerl::Registry
      </IfDefine>

      Options +ExecCGI

    </Location>

    Alias /perl/ /usr/local/VDC/perl/
    PerlRequire /usr/local/VDC/perl/startup.pl

  </IfModule>

  <Location /VDC-DEBUG/>
    Options Indexes FollowSymLinks

  </Location>
  <Location /temp/>
    Options Indexes FollowSymLinks
  </Location>

  Alias /temp/ %VDCTMP%/webtemp/
  
  RewriteEngine on

  RewriteRule /VDC/DSB/([0-9].[0-9])/Disseminate        	 /cgi-bin/univar03.cgi  [PT]
  RewriteRule /VDC/DSB/([0-9].[0-9])/Bind /cgi-bin/bind.cgi  [PT]
  RewriteRule /VDC/DSB/([0-9].[0-9])/GetZeligConfig              /cgi-bin/dmpConfigZelig.pl  [PT]
  RewriteRule /VDC/DSB/([0-9].[0-9])/([a-zA-Z0-9\-]+)         /cgi-bin/dispatch.pl    [PT,E=SERVICE:DSB,E=VERSION:$1,E=VERB:$2]
  RewriteRule /VDC/temp/(.*)				/temp/$1    [PT]

  Alias /VDC-DEBUG/ /var/www/html/vdc/

  # For the manual
  Alias /Manual /usr/local/VDC/htdocs/Manual

# Rules for handling proxy requests.
# This allows only local VDC components to use the proxying facilities of 
# this server.
# Rules for handling direct requests.

  ProxyTimeout 36000

<Location /cgi-bin/dispatch.pl>
	Order allow,deny
        Allow from all
	Deny from none
        <IfDefine MODPERL2>
                PerlOptions +GlobalRequest
        </IfDefine>
</Location>

<Location /cgi-bin/bind.cgi>
	Order allow,deny
        Allow from all
	Deny from none
	AuthName Restricted
	AuthType Basic
        <IfDefine MODPERL2>
                PerlOptions +GlobalRequest
        </IfDefine>
	PerlSetVar AuthServer http://%AUTH_SERVER%
        PerlSetVar AuthServerPort 80
        PerlSetVar RepServer %REP_SERVER%
	PerlSetVar SquidURI %PROXY_CACHE_URI%
	PerlAuthenHandler AuthRepMgr
	PerlAuthzHandler  AuthzRepMgr
	require valid-user
</Location>

# Rules for handling direct modperl requests.
<Location /perl/dispatch.pl>
	Order allow,deny
        Allow from all
	Deny from none
	AuthName Restricted
	AuthType Basic
        <IfDefine MODPERL2>
                PerlOptions +GlobalRequest
        </IfDefine>
	PerlSetVar AuthServer http://%AUTH_SERVER%
	PerlSetVar AuthServerPort %AUTH_SERVER_PORT%
        PerlSetVar RepServer %PROXY_HOST%
	PerlSetVar SquidURI %PROXY_CACHE_URI%
	PerlAuthenHandler AuthRepMgr
	PerlAuthzHandler  AuthzRepMgr
	require valid-user
</Location>


</VirtualHost>

