# This file stores various global variable parameters for the cgi-scripts for 
# data service functions


### Pathnames (Web Server) ###
# $SEVER:  the root directory of your web Server
# $CGIDIR: the directory where the cgi-scripts for data services are stored
#
# If the URI of a cgi script, zzzz.cgi, is expressed as
#
# 	http://www.university.edu/cgi-bin/zzz.cgi 
#
# then
# $SERVER = "www.university.edu" and 
# $CGIDIR = "cgi-bin"

# Sample: $SERVER = "www.university.edu"

 our($SERVER) = "%DSB_SERVER%";

# Sample: $CGIDIR = "zzzz/cgi-bin/dsb"

 our($CGIDIR) = "%DSB_PATH%";


### Pathnames (Machine) ###

# Base directory for the R-related cgi scripts (full pathname)
# Sample: $CGIBASE = "/localhostmachine/aaa/bbb/cgi-bin/dsb"

 our($CGIBASE) = "%VDCROOT%/%DSB_PATH%";


# Directory for the .Rprofile file
# Sample: $RPROFILEDIR = "$CGIBASE"

 our($RPROFILEDIR) = "$CGIBASE";


# location of the R executable (full pathname)
# Sample: $RDIR = "/localhostmachine/usr/bin/R"

 our($RDIR) = "%R_PATH%";
#$RDIR = "/usr/bin/R";

# Directory of VDC R libraries
our($VDCRLIB) = "/usr/local/VDC/R/library";

# Directory for temporary files
# Sample: $TMPDIR = "/tmp"

 our($TMPDIR) = "%VDCTMP%";

# Directory for web temporary files

 our($WEBTEMPDIR) = $TMPDIR . '/webtemp';

# path-name of rcut

our ($RCUTDIR) = '/usr/local/VDC/bin';


# URL of the proxy server through which the Repository is accessed
our($PROXY_URL) = "http://%PROXY_HOST%:%PROXY_PORT%";
our($FTP_PROXY_URL) = "%PROXY_CACHE_URI%";

# External proxy server
our($EXTERNAL_PROXY_HOST)="%EXTERNAL_PROXY_HOST%";
our($EXTERNAL_PROXY_PORT)="%EXTERNAL_PROXY_PORT%";

# location of xml catalog file
our($XMLCTLGDIR)="%VDCROOT%/catalog";

# Information for those who are new to perl programming about the below "1"
#
# The following "1" is not a coding error; it is necessary to determine  
# whether the loading of this file (glv) is successful 
# with regard to "require glv" in the univariate analysis cgi;
# See Hall, J.N.  and R.L. Schwartz. 1998. Effective Perl Programming. p. 225

1


