LOCALVDC	%VDC_NAME%
INDEXDIR	%VDCROOT%/index/database
CHESHIRE	/usr/lib/cheshire/bin
DIRECTORY	localhost
###########################################################
# COMPONENT CONFIGURATION:
#               NAME    URI             PASSWORD
###########################################################
COMPONENT	REP_1	http://%REP_SERVER%/VDC/Repository/0.1/	%VDCPASS%
COMPONENT 	IS_1	http://%IS_SERVER%/VDC/Index/0.1/ 	%VDCPASS%	
COMPONENT 	LNRS_1	http://%LNRS_SERVER%/VDC/LNRS/0.1/	%VDCPASS%	
COMPONENT 	LNRS_1	http://%LNRS_SERVER%/VDC/LNRS/0.1/	%VDCPASS%	
COMPONENT 	UIS_1 	http://%UIS_SERVER%/VDC/	%VDCPASS%	
HARVESTER	Harvest_1	%VDCPASS%
COMPALIAS	Repository	Proxy
###########################################################
# REPOSITORY CONFIGURATION: 
#               VHOST                           DRIVER
###########################################################
REPOSITORY      %REP_SERVER%             DBI_Pg
###########################################################
# REPOSITORY DRIVER CONFIGURATION: 
#               DRIVER          OPTION          VALUE
###########################################################
REPDRIVER       DBI_Pg          FSDIRECTORY     %REPOSITORY_DIR%
###########################################################
###########################################################
# PROXY CONFIGURATION: 
#               VHOST                           DRIVER
###########################################################
PROXY		%REP_SERVER%	HTTP_PROXY_NS
###########################################################
# PROXY DRIVER CONFIGURATION:
#               DRIVER          OPTION          VALUE
###########################################################
PROXDRIVER	HTTP_PROXY_NS	PROXDOMAIN	www.icpsr.umich.edu
PROXDRIVER	HTTP_PROXY_NS	PROXURLBASE	http://www.icpsr.umich.edu
PROXDRIVER	HTTP_PROXY_NS	PROXUSER	%ICPSR_USER%
PROXDRIVER	HTTP_PROXY_NS	PROXPASSWORD	%ICPSR_PW%
PROXDRIVER	HTTP_PROXY_NS	CLASSPUBLIC	vdcClass=PUBLIC_OBJ,o=vdc 
PROXDRIVER	HTTP_PROXY_NS	CLASSPRIVATE	vdcClass=PRIVATE_OBJ,ou=%VDC_NAME%,o=vdc 
PROXDRIVER	HTTP_PROXY_NS	CLASSRESTRICT	vdcClass=PRIVATE_OBJ,ou=%VDC_NAME%,o=vdc 
PROXDRIVER	HTTP_PROXY_NS	HTTPPROXYURI	%PROXY_CACHE_URI%
###########################################################
# GNRS CONFIGURATION:
###########################################################
GNRS	SERVER		id.thedata.org
GNRS	NAMESPACE	%GNRS_NAMESPACE%
GNRS	PASSWORD	%GNRS_PASSWORD%
