# This file stores various global variable parameters for the cgi-scripts for 
# data service functions


### Pathnames (Web Server) ###
# $SEVER:  the root directory of your web Server
# $CGIDIR: the directory where the cgi-scripts for data services are stored
#
# If the URI of a cgi script, zzzz.cgi, is expressed as
#
# 	http://www.university.edu/cgi-bin/zzz.cgi 
#
# then
# $SERVER = "www.university.edu" and 
# $CGIDIR = "cgi-bin"

# Sample: $SERVER = "www.university.edu"; 

 our($SERVER) = "%DSB_SERVER%";

# Sample: $CGIDIR = "zzzz/cgi-bin/dsb"

 our($CGIDIR) = "cgi-bin";


### Pathnames (Machine) ###

# Base directory for the R-related cgi scripts (full pathname)
# Sample: $CGIBASE = "/localhostmachine/aaa/bbb/cgi-bin/dsb"

 our($CGIBASE) = "%VDCROOT%/cgi-bin";


# Directory for the .Rprofile file
# Sample: $RPROFILEDIR = "$CGIBASE"

 our($RPROFILEDIR) = "$CGIBASE";


# location of the R executable (full pathname)
# Sample: $RDIR = "/localhostmachine/usr/bin/R"

# our($RDIR) = "%R_PATH%";
  our($RDIR) = "/usr/bin/R";

# Directory of VDC R libraries
our($VDCRLIB) = "%VDCROOT%/R/library";

# Directory for temporary files
# Sample: $TMPDIR = "/tmp"

 our($TMPDIR) = "%VDCTMP%";

# Directory for web temporary files

 our($WEBTEMPDIR) = $TMPDIR . '/webtemp';

# path-name of rcut

our ($RCUTDIR) = '%VDCROOT%/bin';


# location of xml catalog file
our($XMLCTLGDIR)="%VDCROOT%/catalog";

# configuration for the direct-from-SQL optimized
# variable metadata access.

# set this to 1 to enable the optimization:

our($USE_SQL_DIRECT) = 0;

# access configuration: 

our($SQLHOST) = "dvn.example.edu"; 
our($SQLPORT) = 5432;
our($SQLDB)   = "dvnDb";
our($SQLUSER) = "dvnApp";
our($SQLPW)   = "xxxxxx";

# NOTE: if you are running your DSB server on the 
# same host as the main DVN application, you can
# set the sqlHost variable above to localhost; 
# however, if you just leave it blank 
# the module will try to talk to Postgres via unix 
# sockets, and you'll probably be better off 
# that way. 

1


