/* DESCRIPTION */
.dvn_hmpgMainMessage{margin-bottom:1em;text-align:left}
.dvn_hmpgMainMessagePadding {padding-right:340px;}
.dvn_more{font-style:italic;color:#6D0609}
a.dvn_more:link,a.dvn_more:visited,a.dvn_more:hover,a.dvn_more:active{color:#6D0609}
/* ACTION BOX + CREATE BUTTONS */
.dvhmpgdescactionboxblock{overflow:hidden}
.dvhmpgactionboxfloat{float:right; width:310px; text-align:left}
.dvhmpgactionbox{padding:4px; color:#FFF; background:#C55B28}
.dvhmpgactionbox a:link,.dvhmpgactionbox a:visited,.dvhmpgactionbox a:hover,.dvhmpgactionbox a:active{color:#FFF}
.dvhmpgactionbox div div span{font-weight:bold; text-transform:uppercase}
.dvnCreateActionBoxBlock.dvnStudyListingCreate {overflow:hidden; margin-top:1em;}
.dvnCreateActionBox {float:right; padding:4px; color:#FFF;}
.dvnCreateActionBox.dvnCreateDataverse {background:#C55B28;}
.dvnCreateActionBox.dvnCreateStudy {background:#526F76;}
.dvnCreateActionBox a:link,.dvnCreateActionBox a:visited,.dvnCreateActionBox a:hover,.dvnCreateActionBox a:active{color:#FFF;font-weight:normal;}
/* HMPG + ADV SEARCH */
#dvnHomePgSearch, #dvnAdvSearch {margin:1em 0; text-align:center;}
.dvnSearchBlock {width:500px; padding:8px 40px 0 40px; margin:0 auto; background:#F2F2F2; border-bottom:2px solid grey;}
.dvnSearchBlock fieldset {margin:0; padding:0;}
.dvnSearchBlock fieldset label input {font-size:1.1em !important;}
.dvnSearchBlock fieldset label input.iceInpTxt {width:368px; margin-right:1em; padding:5px 3px;}
.dvnSearchBlock input.iceCmdBtn[value=Search], .dvnFormMargin input.iceCmdBtn[value=Search]{background:#EEF3FB; border:1px solid #B7CDFF; padding:4px 16px; font-size:1em;}
.dvnSearchBlock input.iceCmdBtn[value=Search]:hover, .dvnFormMargin input.iceCmdBtn[value=Search]:hover{border:1px solid #0C54B3;}
.dvnSearchBlock input.iceCmdBtn[value=Search]:active, .dvnFormMargin input.iceCmdBtn[value=Search]:active{background:#0C54B3;}
.dvnSearchSuggestions {padding:0 10px; text-align:left;}
.dvnSearchBlock .dvn_searchlinks {padding:0 10px; text-align:right;}
.dvnSearchBlock .dvn_searchlinks span.iceOutTxt {font-size:.9em !important;}
.dvnSearchBlock .dvn_searchlinks a.iceOutLnk:first-child {margin-right:1em;}
.dvnAdvSearchScopeHeadPad{padding:.5em 1em 0 1em;}
.dvnPermissionsTable .dvnAdvSearchScopePnlGrdTable span {color: #000000; font-size: 90% !important;}
/* DV STUDYLISTING SEARCH */
div.dvn_searchblock{margin-bottom:12px;padding:4px 12px;background:#F2F2F2;border:1px solid #ddd;text-align:left;overflow:hidden;}
.dvnSearchBoxCheckbox{display:block;padding:0;text-align:left;}
.dvnSearchBoxCheckbox,.dvnSearchBoxCheckbox select{margin:0}
.dvnSearchBoxCheckbox span.iceOutTxt{padding:0;font-size:90% !important}
.dvn_searchboxblock {overflow:hidden; width:388px;}
.dvn_searchboxblock fieldset {float: left; padding:0; line-height: 36px !important;}
.dvn_searchboxblock fieldset input.iceInpTxt {margin-right:1em; padding:5px 3px; width:268px; font-size:1.1em !important; margin:0 1em 0 0;}
.dvn_searchboxblock fieldset input.iceCmdBtn {background:#EEF3FB; border:1px solid #B7CDFF; font-size:1.1em !important; padding:4px 16px; margin:0;}
.dvn_searchboxblock .dvn_searchlinks {margin-left: 1em; text-align:right;}
.dvn_searchboxblock .dvn_searchlinks a.iceOutLnk {display:inline; margin-right:1em;}
.dvn_searchboxblock .dvn_searchlinks a.iceOutLnk:first-child {margin-right:1em;}
.dvn_searchboxblock .dvn_searchlinks span.iceOutTxt {font-size:90% !important;}
/* SECTION PANELS + ACCORDION + TREE */
#dvn_mainSection{position:relative;overflow:hidden;width:100%;text-align:center}

.dvnHmpgColumnBlock {overflow:hidden;}
.dvnHmpgColumnDataverses {float:left; width:48%; padding-right:2%; margin-top:0;}
.dvnHmpgColumnStudies {float:left; width:48%; padding-left:2%;}
.dvnHmpgColumnHeaderBlock {overflow:hidden; margin-bottom:.5em;}
.dvnHmpgColumnDataverses .dvnHmpgColumnHeaderBlock {border-bottom:1px solid #C55B28;}
.dvnHmpgColumnStudies .dvnHmpgColumnHeaderBlock {border-bottom:1px solid #526F76;}
.dvnHmpgColumnHeader {float:left; margin:0; padding:6px 0; color:#526F76;}
.dvnHmpgColumnDataverses .dvnHmpgColumnHeader {color:#C55B28;}
.dvnHmpgColumnStudies .dvnHmpgColumnHeader {color:#526F76;}
.dvnHmpgColumnHeaderViewAll {float:left; margin-left:2em; padding:6px 0;}

.dvnHmpgColumnWidget {margin-top:1em;}
.dvnHmpgColumnDataverses .dvnHmpgColumnWidget {border-bottom: 1px solid #C55B28;}
.dvnHmpgColumnStudies .dvnHmpgColumnWidget {border-bottom: 1px solid #526F76;}
.dvnHmpgColumnWidgetHeader {text-transform:uppercase;}
.dvnHmpgColumnDataverses .dvnHmpgColumnWidgetHeader {color:#C55B28;}
.dvnHmpgColumnStudies .dvnHmpgColumnWidgetHeader {color:#526F76;}
.dvnHmpgColumnWidgetViewMoreBlock {text-align:center; padding:3px 5px}
.dvnHmpgColumnWidgetViewMoreBlock a.iceOutLnk span.iceOutTxt {font-size:90% !important;}


.dvn_sectionContent{display:inline;width:75%;float:right;text-align:left}
.dvn_sectionPanels{display:inline;position:relative;float:left;width:24%}
.dvn_sectionPanelTitle{padding:.25em 0;border-bottom:2px solid #91a5a9;color:#555;font-weight:700}
.dvn_sectionPanels div.dvn_sectionPanelText{margin-bottom:1em;padding:.5em}
.dvn_sectionPanels ul{margin-left:2em}
.dvn_sectionPanels li{margin:0.5em 0}
.dvn_sectionPanels .TreeContent a:link,.dvn_sectionPanels .TreeContent a:visited,.dvn_sectionPanels .TreeContent a:hover,.dvn_sectionPanels .TreeContent a:active{font-size:90% !important}
.iceTreeRow a span.iceOutTxt{font-size:90% !important}
.iceTreeRow .icePnlGrp{display:inline}
.dvnTreeBlock{width:100%;height:38em;padding:0;border:0;text-align:left}
.dvnTreeContainer{width:100%;height:34em;border-top:solid 1px #DCDDDF;border-left:solid 1px #DCDDDF;border-bottom:solid 1px #DCDDDF;border-right:0;background:#FFF;padding:.25em}
div.iceTree div.iceTreeRow div.iceTreeRow {white-space:normal}
div.iceTree div.iceTreeRow div.iceTreeRow div.iceTreeRow img {}
div.iceTree div.iceTreeRow div.iceTreeRow div.iceTreeRow {border-bottom:1px dotted #DCDDDF}
div.iceTree div.iceTreeRow div.iceTreeRow div.iceTreeRow:first-child {border-top:1px dotted #DCDDDF}
div.iceTree div.iceTreeRow div.iceTreeRow div.iceTreeRow div.icePnlGrp {}
div.iceTree div.iceTreeRow div.iceTreeRow div.iceTreeRow div.iceTreeRow div.icePnlGrp a {}

#dvClassificationMenu{margin:0;padding:0;text-indent:0;width:100%;text-align:left}
#dvClassificationMenu h3,#dvClassificationMenu h4{margin:0;padding:0}
#dvClassificationMenu ul,#dvClassificationMenu li{margin:0;padding:0;list-style-type:none;list-style-image:none;border-bottom:1px dotted #D9D9D9}
#dvClassificationMenu ul {overflow:hidden; width:100%}
#dvClassificationMenu li {float:left; width:50%}
#dvClassificationMenu li li {float:none; width:100%}
#dvClassificationMenu li a {padding:3px 5px; display:inline}
#dvClassificationMenu li span.dvnHmpgClassificationCount {display:inline; margin-right:.5em; color:grey !important; font-weight:normal !important}
#dvClassificationMenu ul li ul, #dvClassificationMenu ul li ul li{margin:0;padding:0;border:0;}
#dvClassificationMenu a{outline:0}

#dvClassificationMenu h3.head {margin-top:1em; margin-bottom:10px;}
h3.head a{display:block;background:transparent url(/dvn/resources/images/menudown.gif) no-repeat;background-position:98% 50%}
h3.head a:hover{background:transparent url(/dvn/resources/images/menudown.gif) no-repeat;background-position:98% 50%}
h3.selected a{background:transparent url(/dvn/resources/images/menuup.gif) no-repeat;background-position:98% 50%}
h3.selected a:hover{background:transparent url(/dvn/resources/images/menuup.gif) no-repeat;background-position:98% 50%}
h3.head span{display:block;font-weight:normal;color:#C55B28;text-transform:uppercase;}
h3.head a span {background:none;padding:0;}

#dvClassificationMenu ul.head-top {padding-bottom:18px;border-bottom:1px solid #C55B28;}

h4.head {margin-right:1em !important;padding:0 26px 0 0 !important;background:transparent url(/dvn/resources/images/menudown.gif) no-repeat;background-position:98% 50%}
h4.head a{display:block}
h4.selected {background:transparent url(/dvn/resources/images/menuup.gif) no-repeat;background-position:98% 50%}
h4.selected a{font-weight:700}

h3.noSubNode,h3.noSubNode a,h3.noSubNode a:hover,h4.noSubNode,h4.noSubNode a,h4.noSubNode a:hover{background-image:none}
.xtraMenu ul li a:link,.xtraMenu ul li a:visited,.xtraMenu ul li a:hover,.xtraMenu ul li a:active{display:block;}
.xtraMenu ul li a span{font-size:90% !important;}
.xtraMenu ul li ul li a {margin-left:1.25em;}
a.lastNodeActive:link{font-weight:700}


.dvnHmpgDataverseWidgetTable, .dvnHmpgDataverseWidgetTable tr, .dvnHmpgDataverseWidgetTable td, .dvnHmpgStudyWidgetTable, .dvnHmpgStudyWidgetTable tr, .dvnHmpgStudyWidgetTable td {border:0;}
.dvnHmpgDataverseWidgetTable td, .dvnHmpgStudyWidgetTable td {border-bottom:1px dotted #D9D9D9;}
.dvnHmpgDataverseWidgetTable td div, .dvnHmpgStudyWidgetTable td div {overflow:hidden;}
.dvnHmpgStudyWidgetTable a.iceOutLnk span.iceOutTxt {display:inline;}
.dvnHmpgDataverseWidgetTable span.iceOutTxt, .dvnHmpgStudyWidgetTable span.iceOutTxt {font-size:90% !important;}
img.dvnHmpgStudyFileIcon {margin-right:.5em !important; vertical-align:middle}
.dvnHmpgWidgetFloat {float:right; color: grey !important;}


/* DATAVERSE LIST TABLE + ALPHA SORT */
.dvnHmpgGroupHeaderBlock{width:100%;margin-bottom:.25em;overflow:hidden}
span.dvnHmpgGroupHeader{float:left;font-size:150% !important;font-weight:700}
.dvnHmpgGroupCreateBlock{float:right; width: 200px;}
a.dvnHmpgGroupCreateLink:link,a.dvnHmpgGroupCreateLink:visited,a.dvnHmpgGroupCreateLink:hover,a.dvnHmpgGroupCreateLink:active{padding-right:28px;color:#c55b28;background:url(/dvn/resources/images/start-arrows.gif) 100% 52% no-repeat;font-size:95%;text-decoration:none}
.dvnHmpgClassificationDesc{margin-bottom:.25em;width:100%}
.dvnHmpgGroupNoDVs{padding:0 1em;border:1px solid #dcdddf;text-align:center}
.dvnHmpgGroupTableWrap{border:1px solid #dcdddf;border-bottom:0}
.dvnHmpgGroupTableTop{width:100%}
.dvnHmpgGroupTableTop td.dvnHmpgGroupTableTopCol{padding-bottom:.5em}
.dvnHmpgGroupAlphaSortBlock{margin:1em .5em;overflow:auto;width:100%}
.dvnHmpgGroupTotals{padding:0 .5em;text-align:left}
.dvnHmpgGroupDataTable{margin:0;width:100%}
.dvnHmpgGroupDataTable span{font-size:90% !important}
.dvnHmpgGroupDataTable th span.iceOutTxt td{font-size:90% !important}
.dvnHmpgDvNameLink{float:left}
.dvnHmpgMoreInfoLink{float:right;display:inline;margin-left:2em}
.dvnHmpgDvMoreInfoDesc{clear:both}
.childRowIndentStyle{background:url(/dvn/resources/icefaces/dvn_rime/css-images/tree_line_last_node.gif) 0 0 no-repeat}
.activityColumn{text-align:center}
.activity{width:48px;margin:0 auto}
.activitylevelicon{vertical-align:middle;width:48px;height:8px;background:url(/dvn/resources/images/activity-icons.png) no-repeat}
.al-0{background-position:-50px 0}
.al-1{background-position:-40px 0}
.al-2{background-position:-30px 0}
.al-3{background-position:-20px 0}
.al-4{background-position:-10px 0}
.al-5{background-position:0 0}
.numbervalue{display:none}
.dvnNetworkHmpgDvListNav div{font-size:90% !important;text-align:left}
.dvnNetworkHmpgDvListNav ul{margin-top:.5em;margin-left:0em;padding-left:0em;list-style:none}
.dvnNetworkHmpgDvListNav ul li{margin-left:0em;padding-left:22px;background:url(/dvn/resources/icefaces/dvn_rime/css-images/tree_folder_closed.gif) 0 .25em no-repeat}
.dvnNetworkHmpgDvListNav ul li a:link,.dvnNetworkHmpgDvListNav ul li a:visited,.dvnNetworkHmpgDvListNav ul li a:hover,.dvnNetworkHmpgDvListNav ul li a:active{font-size:90% !important}
.dvnNetworkHmpgDvListNav ul li.hmpgDvGroupSelected{background:url(/dvn/resources/icefaces/dvn_rime/css-images/tree_folder_close.gif) 0 0 no-repeat}
li.hmpgDvGroupSelected a:link,li.hmpgDvGroupSelected a:visited,li.hmpgDvGroupSelected a:hover,li.hmpgDvGroupSelected a:active{font-weight:700}
.iceDatTblActvSrtHdr{background:#DADEE0;}
.iceDatTblActvSrtHdr span td{font-weight:bold;}
/* STUDY LISTING */
.dvnStudyListWrapper{border:1px solid #dcdddf}
.dvnStudyListCollectionNameBlock{padding:.5em .25em;border:1px solid #dcdddf;border-width:1px 1px 0 1px;}
.dvnStudyListCollectionName{text-align:left}
.dvnStudyListCollectionName span{font-size:140% !important;font-weight:700}
.dvnStudyListContributorBlock{padding-bottom:.25em}
a.dvnStudyListContributorLink:link,a.dvnStudyListContributorLink:visited,a.dvnStudyListContributorLink:hover,a.dvnStudyListContributorLink:active{padding-right:28px;color:#c55b28;background:url(/dvn/resources/images/start-arrows.gif) 100% 52% no-repeat;font-size:95%;text-decoration:none}
.dvnStudyListResultsTop{padding:5px; border-bottom:1px solid #dcdddf}
.dvnStudyListResultsBottom{padding:5px; border-top:1px solid #dcdddf}
.dvnStudyListResultsBottom .dvnPaginatorWrap{padding:.25em 0}
td.dvn_StudyListTotals{text-align:right;width:100%;padding:.5em}
td.dvn_StudyListSort{padding:.25em}
.dvnStudyListStudyInfo{background:inherit}
span.dvnStudyListStudyAuthor{font-size:90% !important}
.dvnStudyRestricted{background-image:url(/dvn/resources/images/icon_restricted.18.png);background-repeat:no-repeat;background-position:left .1em;padding-left:22px}
.dvnStudyPublic{background-image:url(/dvn/resources/images/icon_public.18.png);background-repeat:no-repeat;background-position:left .1em;padding-left:22px}
.dvnStudyListIDDownloads{padding:0 10px;border-left:1px solid #dcdddf !important}
.dvnStudyListIDDownloads span{font-size:90% !important;color:gray}
.dvnStudyListIDDownloads .dvnStudyListDownloadCount{white-space:nowrap}
.dvnStudyListIDDownloads .dvnStudyListDownloadCount img{vertical-align: middle;}
.dvnStudyListIDDownloads span.dvnStudyListIDDownloadsSubsettable{width:14em;margin-left:4px !important;white-space:nowrap;display:inline !important}
.dvnStudyListIDDownloads span.dvnStudyListIDDownloadsNonSubsettable{width:14em;margin-left:4px !important;white-space:nowrap;display:inline !important}
td.dvnStudyListTableColID{vertical-align:top}
span.dvnStudyListGlobalId{color:black}
.dvnStudyListTableColInfo{width:77%;background-color:inherit !important}
.dvnStudyListTableColID{width:22%;background-color:inherit !important}
.dvnStudyListTableAbstract{padding-top:3px;padding-bottom:3px;padding-left:0px;padding-right:0px}
.dvnStudyListTableAbstract div,.dvnStudyListTableAbstract p{margin:0;padding:0;display:inline}
span.dvnStudyListTableAbstract{color:gray;font-size:90% !important}
.dvnStudyListTableAbstract p{color:black;font-size:90% !important}
.dvnStudyListTableOptionalField span.iceOutTxt{font-size:90% !important;display:inline !important}
span.dvnStudyListTableOptionalFieldLabel{color:gray}
.dvnStudyListTableOptionalField table.iceDatTbl span.iceOutTxt{font-size:90% !important}
.dvnStudyListTable{border:0;margin:0}
.dvnStudyListTable tr{border-left:0}
.dvnStudyListTable td{border:0}
.dvnStudyListTable div{border-width:0 0 0 0}
span.dvnStudyListSearchResultsMessage{font-size:100% !important;font-weight:400}
.dvnCollectionDescription{padding:5px; border-bottom:1px solid #d9d9d9;}
.dvnStudyListNoStudies{padding:0 1em;text-align:center}
/* ADVANCED SEARCH */
.dvnAdvSearchTable fieldset{margin:0.5em 0 1em 0;padding:0;}
.dvnAdvSearchScopeTable{border:0;margin:0;}
.dvnAdvSearchScopeTable td{border-right:0;}
.dvnAdvSearchScopeTable tr.list-row-even td{background-color:#fff}
.vdcAdvSearchCol1{padding-bottom:2px;padding-left:10px;padding-top:2px;vertical-align:bottom;white-space:nowrap}
.vdcAdvSearchCol2{width:18%;padding-bottom:2px;padding-left:10px;padding-top:2px;vertical-align:bottom}
.vdcAdvSearchCol3{width:50%;padding-bottom:2px;padding-left:10px;padding-top:2px;vertical-align:bottom}
.dvnAdvSearchScopeTable .errorMessageInfo{display:block;}
.dvnAdvSearchCollectionsTable{border-top:1px solid #d9d9d9}
.dvnAdvSearchCollectionsTable img{vertical-align:bottom;}
.dvnAdvSearchCollectionsTable td span.iceOutTxt{display:inline;padding:0 .25em;}
.dvnAdvSearchCollectionsTableParent{display:inline}
.dvnAdvSearchCollectionsTableChild{display:inline;padding-left:18px;background:url(/dvn/resources/icefaces/dvn_rime/css-images/tree_line_last_node.gif) 0 0 no-repeat}